@charset "utf-8";
/* CSS Document */
BODY {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.Title_Gray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
.Title_Black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}
.Title_Blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #006;
}
.Title_Green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #360;
}
.Title_Orange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #F60;
}
.SubTitle_Gray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
.SubTitle_Black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.SubTitle_Blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #006;
}
.SubTitle_Green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #360;
}
.SubTitle_Orange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #F60;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.Paragraph_Grey {
	color: #666;
}
.Paragraph_Italic {
	font-style:italic;	
}
.P_Blk_Arial_11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
}
.P_Gry_Arial_11 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#666;
}
.P_Ora_Arial_11 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#F60;
}
.P_Blu_Arial_11 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#006;
}
.P_Blk_Arial_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.P_Gry_Arial_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#666;
}
.P_Ora_Arial_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#F60;
}
.P_Blu_Arial_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#006;
}
table.tbl_SGry1p TD {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #666;
}

table.tbl_SBlk1p TD {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #696969;
}

table.tbl_SGreen1p TD {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #6b8e23;
}

table.tbl_SGreen2p TD {
	border-width: 2px;
	padding: 2px;
	border-style: solid;
	border-color: #6b8e23;
}

table.tbl_DGry4p TD{
	border-width: 4px;
	padding: 4px;
	border-style: double;
	border-color: #696969;	
}

table.tbl_DGeen4p TD{
	border-width: 4px;
	padding: 4px;
	border-style: double;
	border-color: #6b8e23;	
}

table.tbl_DGeen5p TD{
	border-width: 5px;
	padding: 5px;
	border-style: double;
	border-color: #6b8e23;	
}

table.tbl_DGeen6p TD{
	border-width: 6px;
	padding: 6px;
	border-style: double;
	border-color: #6b8e23;	
}

.Oline_Bdr_Green6px{
	border-bottom: double 6px #6b8e23;
	border-top: double 6px #6b8e23;
	border-left: double 6px #6b8e23;
	border-right: double 6px #6b8e23;
}
/* CMS MAX IMAGE */
#cmsImg{
	background-color: #369;
	padding:10px 10px 10px 10px;
}
#imgClose {
  text-align:right;
  color: #FFF;
  font-weight:bold;
  font-size:12px;
  margin:5px 0;
  cursor:pointer;
  vertical-align:middle;
  padding: 5px 15px 10px 15px;
}
#imgClose:hover {
	text-decoration:underline;
}
/* CMS MORE INFO */
.dvPageBox{
	/*
	width:auto;
	height:auto;
	max-width:1000px;
	max-height:1000px;
	margin: 15px auto 10px auto;*/
	border:1px solid rgb(99, 139, 209); 
	box-shadow:inset 0px 0px 15px rgb(99, 139, 209); 
	border-radius: 10px 10px 10px 10px;
	padding:10px 10px;
	background-color: #FFF;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
.infoTxtBox{
	max-width:1000px;
	overflow:auto;
	margin:8px 8px 8px 5px;
	padding-top:10px;
}
.infoBox{
	background-color: #FFF;
	border:1px solid rgb(99, 139, 209); 
	box-shadow:inset 0px 0px 15px rgb(99, 139, 209); 
	border-radius: 10px 10px 10px 10px;
	padding:5px 5px 15px 5px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	behavior: url(../JAVAs/PIE/PIE.htc);
}
#infoBoxLD{
	background-color: #FFF;
	border:1px solid rgb(176, 208, 93); 
	box-shadow:inset 0px 0px 15px rgb(176, 208, 93); 
	border-radius: 10px 10px 10px 10px;
	padding:5px 5px 15px 5px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	behavior: url(../JAVAs/PIE/PIE.htc);
}
.infoTxt{
	overflow:auto;
	margin:8px 8px 8px 5px;
	padding-top:10px;
}
.infoClose {
	text-align:right;
	color: #666;
	font-size:12px;
	margin:5px 15px;
	cursor:pointer;
	vertical-align:middle;
	padding:5px 15px;
}
.infoClose:hover {
	color: #F00;
	text-decoration:underline;
}