h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.dvContainer *, .dvMhomeContainer * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*Default size*/
    --max-width: 1140;
    --min-width: 320;
    /* Calculation */
    --average: calc((var(--min-font)*1px) + (var(--max-font) - var(--min-font))*((100vw - var(--min-width)*1px)/(var(--max-width) - var(--min-width))));
    --responsive: clamp(calc(var(--min-font) * 1px),var(--average),calc(var(--max-font) * 1px));
}
.dvPageTitleWhite {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-weight: 100;
    color: #fff;
    padding: 15px 25px;
    background: #638bd1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 15px;
    max-width: 980px;
    text-transform: capitalize;
}
/*Main container*/
.container.dvMhomeContainer {
    padding: 0;
}
.first-container {
    width: 100% !important;
    min-width: 320px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.second-container {
    width: 100%;
    min-width: 320px;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}
body.modal-open {
    overflow: hidden
}
.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-x: hidden;
    opacity: 1;
    background-color: rgba(0,0,0,.2);
    transition: opacity 250ms cubic-bezier(.4,0,.2,1)
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none
}
.modal__wrapper {
    max-width: 950px;
    width: 95%;
    position: absolute;
    left: 50%;
    top: 15vh;
    transform: translateX(-50%) scale(1);
    transition: transform 250ms cubic-bezier(.4,0,.2,1),opacity 250ms cubic-bezier(.4,0,.2,1);
    background-color: #fff;
    overflow: hidden;
}
.ft-modal-close {
    font-size: 18px;
    text-transform: uppercase;
    color: #333333 !important;
}
.ft-modal-mob-close {
    padding-bottom: 15px;
    text-align: right;
    border-bottom: 1px solid #CCCCCC;
}
.ft-modal-mob-close button {
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.backdrop.is-hidden .modal {
    transform: translateX(-50%) scale(1.1)
}
.modal-wrapper {
    position: relative;
    padding: 25px;
    max-width: 700px;
    width: 95%;
    position: absolute;
    left: 50%;
    top: 15vh;
    transform: translateX(-50%) scale(1);
    transition: transform 250ms cubic-bezier(.4,0,.2,1),opacity 250ms cubic-bezier(.4,0,.2,1);
    background-color: #fff;
    border-radius: 10px
}
.modal__close {
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    line-height: 1;
    background-color: transparent;
    border: none;
    cursor: pointer
}
.modal__container {
    height: 600px;
}
.customBtn {
    border: 1px solid #212d6e !important;
    border-radius: 20px;
    color: #212d6e;
    cursor: pointer;
    font-size: 12px;
    margin: 10px auto;
    max-width: 140px;
    padding: 8px 0;
    width: auto;
    min-width: 140px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
}
.customBtn:hover {
    color: #212d6e;
    border: 1px solid #212d6e !important;
}
.dvBublleStyle {
    font-size: 12px;
    color: #333;
    padding: 5px;
    width: auto;
    max-width: 300px;
    min-width: 100px;
    text-align: left;
}
.dvBublleStyle img {
    margin: 0 10px 10px 0;
    width: 100px;
    height: 100px;
    padding: 1px;
    border: 1px solid #ccc;
}
/*hero*/
.hero {
    margin: 15px 0;
}
.hero__wrapper {
    position: relative;
    height: 125px;
}
.hero__wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero__wrapper h1 {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    text-shadow: 2px 2px 3px #0000008c;
    text-align: center;
    color: #fff;
}
.hero__shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 40%, rgba(0, 0, 0, .85));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero__description {
    padding: 0 10px;
    line-height: 1.4;
    font-size: 15px;
}
/*Main title*/
.main-title {
    margin: 22px 0 0px;
    --max-width: 768;
    --max-font: 28;
    --min-font: 26;
    font-size: var(--responsive);
    font-weight: 700;
    text-align: center;
    color: #638bd1;
}
/*Center Orientation section*/
.center-orientation {
    padding-bottom: 40px;
}
.cmsContainerA {
    padding: 20px 0;
}
.dvCMSContainerWBorder {
    max-width: none;
    margin: 0;
    padding: 0;
    border: none;
}
.dvCMSThreeImages {
    display: none;
}
.dvCMSContainerWBorder p, .dvCMSContainerWBorder {
    --max-width: 768;
    --max-font: 16;
    --min-font: 14;
    font-size: var(--responsive);
    line-height: 22px;
    padding-bottom: 10px;
}
/*More section* adn Regions section*/
.more, .regions {
    padding-top: 54px;
    padding-bottom: 54px;
}
.more__title, .regions__title {
    margin-bottom: 15px;
    --max-width: 768;
    --max-font: 22;
    --min-font: 20;
    font-size: var(--responsive);
    font-weight: 400;
    text-transform: uppercase;
    color: #1b2560;
}
.more__list, .regions__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 30px;
    margin-bottom: 30px;
}
.more__image, .regions__image {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 50px;
    border: 1px solid #d0d0d0;
}
.more__image img, .regions__image img {
    width: 100%;
}
.more__name, .regions__name {
    font-weight: 400;
}
.more__name a, .regions__name a {
    display: flex;
    justify-content: space-between;
    --max-width: 768;
    --max-font: 24;
    --min-font: 22;
    font-size: var(--responsive);
}
.regions__name a {
    justify-content: center;
}
.more__name img {
    width: 25px;
    height: 25px;
}
.more__description, .regions__description {
    margin-top: 20px;
    --max-width: 768;
    --max-font: 14;
    --min-font: 13;
    font-size: var(--responsive);
    line-height: 1.4;
    color: #666;
}
.more__button , .regions__button{
    display: block;
    width: 330px;
    margin: 35px auto 0  auto;
    padding: 10px 0;
    --max-width: 768;
    --max-font: 16;
    --min-font: 14;
    font-size: var(--responsive);
    color: #212d6e;
    background-color: transparent;
    border: 1px solid #212d6e;
    border-radius: 23px;
    cursor: pointer;
}
/*Interests section*/
.interests {
    padding-top: 54px;
    padding-bottom: 54px;
}
.interests__title {
    margin-bottom: 15px;
    --max-width: 768;
    --max-font: 22;
    --min-font: 20;
    font-size: var(--responsive);
    font-weight: 400;
    text-transform: uppercase;
    color: #1b2560;
}
.interests__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 30px;
}
.interests__item {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}
.interests__image {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 3px 4px 8px #00000080;
    border: 1px solid #ddd;
}
.interests__image img {
    width: 100%;
}
.interests__name {
    font-weight: 400;
}
.interests__name a {
    --max-width: 768;
    --max-font: 24;
    --min-font: 22;
    font-size: var(--responsive);
}
.interests__description {
    margin-top: 20px;
    --max-width: 768;
    --max-font: 14;
    --min-font: 13;
    font-size: var(--responsive);
    line-height: 1.4;
    color: #666;
}
/*HMap and Hotels sections*/
.map-hotel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 30px;
    padding: 55px 27px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.map, .hotels {
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 10px;
}
.map__title, .hotels__title {
    margin-bottom: 18px;
    --max-width: 768;
    --max-font: 20;
    --min-font: 18;
    font-size: var(--responsive);
    text-transform: uppercase;
    font-weight: 400;
    color: #638bd1;
}
.map__wrapper {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}
.map__button {
    display: flex;
    align-items: center;
    grid-gap: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.map__button span:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    font-size: 16px;
    border: 1px solid #638bd1;
    border-radius: 6px;
    background-image: url(https://pictures.tripmasters.com/siteassets/d/map_icon2.png);
    background-repeat: no-repeat;
}
.map__button span:nth-child(2) {
    --max-width: 768;
    --max-font: 20;
    --min-font: 18;
    font-size: var(--responsive);
    color: #1b2560;
}
.hotels__list {
    display: flex;
    flex-direction: column;
    grid-gap: 22px;
}
.hotels__item {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}
.hotels__item a {
    --max-width: 768;
    --max-font: 20;
    --min-font: 18;
    font-size: var(--responsive);
}
/*Best packages*/
.best-packages {
    padding: 45px 0;
    background-color: #F5F5F5;
}
.best-packages .first-container > div {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.best-packages h2 {
    margin-bottom: 15px;
    --max-width: 768;
    --max-font: 22;
    --min-font: 20;
    font-size: var(--responsive);
    font-weight: 400;
    text-transform: uppercase;
    color: #1b2560;
}
.best-packages__image {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}
.best-packages__image img {
    width: 100%;
    display: block;
}
.best-packages__image div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent 40%,rgba(0,0,0,.85));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.best-packages__image button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0;
    font-size: 11px;
    line-height: normal;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.best-packages__image button span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    border: 1px solid;
    border-radius: 50%;
}
.best-packages__info {
    padding: 33px 15px;
    display: flex;
    flex-direction: column;
    grid-gap: 11px;
    background-color: #FFFFFF;
}
.best-packages__name {
    --max-width: 768;
    --max-font: 21;
    --min-font: 19;
    font-size: var(--responsive);
    color: #263377;
}
.best-packages__night {
    --max-width: 768;
    --max-font: 16;
    --min-font: 14;
    font-size: var(--responsive);
    color: #333333;
}
.best-packages__night span {
    font-weight: 600;
    color: #FF6600;
}
.best-packages__review {
    --max-width: 768;
    --max-font: 15;
    --min-font: 13;
    font-size: var(--responsive);
    color: #263377;
}
.best-packages__description {
    --max-width: 768;
    --max-font: 15;
    --min-font: 13;
    font-size: var(--responsive);
    line-height: 20px;
    color: #333333;
}
.best-packages__wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 33px;
}
.best-packages__include > span {
    font-weight: 600;
    --max-width: 768;
    --max-font: 15;
    --min-font: 13;
    font-size: var(--responsive);
}
.best-packages__include > ul {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    grid-gap: 3px;
    list-style: none;
}
.best-packages__include li {
    position: relative;
    padding-left: 20px;
}
.best-packages__include li, .best-packages__include li p, .best-packages__include li strong {
    --max-width: 768;
    --max-font: 15;
    --min-font: 13;
    font-size: var(--responsive);
    color: #333333;
}
.best-packages__include li:before {
    content: "✓";
    position: absolute;
    top: -5px;
    left: 1px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #638BD1; 
}
.best-packages .best-packages__customize {
    width: 240px;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #263377;
    border: 1px solid #212C67;
    border-radius: 28px;
    cursor: pointer;
}
.best-packages .best-packages__customize:hover {
    border: 1px solid #212C67 !important;
}
/*template-FullPackImage*/
.template-FullPackImage {
    padding-top: 40px;
    padding-bottom: 40px;
}
.template-FullPackImage h2 {
    margin-bottom: 15px;
    --max-width: 768;
    --max-font: 22;
    --min-font: 20;
    font-size: var(--responsive);
    font-weight: 400;
    text-transform: uppercase;
    color: #1b2560;
}
.template-FullPackImage .ul-Flex {
    max-width: none;
    grid-gap: 20px;
}
.template-FullPackImage ul.ul-Flex>li .wrapper button[id^="info"] span:after {
    margin-bottom: 0.15em;
}
/*Suggested */
.suggested {
    padding-top: 53px;
    padding-bottom: 53px;
    border-bottom: 1px solid #CCCCCC;
}
.suggested h2 {
     margin-bottom: 15px;
    --max-width: 768;
    --max-font: 22;
    --min-font: 20;
    font-size: var(--responsive);
    font-weight: 400;
    text-transform: uppercase;
    color: #1b2560;
}
.suggested > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 40px;
    list-style: none;
}
.suggested > ul > li {
   width: 100%;
   max-width: 500px;
   border-radius: 8px 8px 10px 10px;
   overflow: hidden;
}
.suggested__image {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.suggested__image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.suggested__image > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent 40%,rgba(0,0,0,.85));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.suggested__image > div h3 {
    margin-bottom: 6px;
    line-height: 20px;
}
.suggested__image > div h3 a {
    --max-width: 768;
    --max-font: 21;
    --min-font: 19;
    font-size: var(--responsive);
    text-shadow: 5px 5px 10px #000000;
    color: #fff;
    font-weight: 500;
}
.suggested__image > div p {
    --max-width: 768;
    --max-font: 16;
    --min-font: 14;
    font-size: var(--responsive);
    color: #FFFFFF;
}
.suggested__image > div p span {
    font-weight: 600;
}
.suggested ul li > button {
    width: 100%;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: normal;
    color: #666666;
    background-color: #F5F5F5;
    border: none;
    cursor: pointer;
}
.suggested ul li > button span {
    width: 18px;
    height: 18px;
    border: 1px solid #666666;
    border-radius: 50%;
}
.suggested__info {
    display: none;
    padding: 15px;
    --max-width: 768;
    --max-font: 14;
    --min-font: 12;
    font-size: var(--responsive);
    color: #333333;
}
.suggested__buttons {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 16px;
}
a.suggested__browse {
    position: relative;
    width: 90%;
    max-width: 300px;
    padding: 10px 0;
    --max-width: 768;
    --max-font: 14;
    --min-font: 12;
    font-size: var(--responsive);
    text-align: center;
    color: #000000;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFD968 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 5px #00000075;
    border: 1px solid #D9A300;
    border-radius: 33px;
}
a.suggested__browse span,a.suggested__build span {
    position: absolute;
    right: 10px;
    top: -1px;
    --max-width: 768;
    --max-font: 30;
    --min-font: 26;
    font-size: var(--responsive);
}
.suggested__buttons > span {
    font-size: 15px;
    color: #666666;
}
a.suggested__build {
    position: relative;
    width: 90%;
    max-width: 300px;
    padding: 10px 0;
    --max-width: 768;
    --max-font: 14;
    --min-font: 12;
    font-size: var(--responsive);
    text-align: center;
    color: #fff;
    background: transparent linear-gradient(180deg, #294AA3 0%, #1C2766 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 5px #00000075;
    border: 1px solid #1B2561;
    border-radius: 33px;
}
/*Banners*/
.banners {
    padding: 28px 23px;
}
.banners ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 25px;
    list-style: none;
}
.banners li {
    width: 100%;
    max-width: 435px;
}
.banners li img {
    width: 100%;
    display: block;
}
/*orientation and expect*/
.orientation-expect__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F7F7F7;
}
.orientation-expect__wrapper > div {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}
.orientation, .expect {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.orientation__title, .expect__title {
    margin-bottom: 15px;
    --max-width: 768;
    --max-font: 18;
    --min-font: 16;
    font-size: var(--responsive);
    font-weight: 100;
    text-transform: uppercase;
    color: #638bd1;
}
.orientation__list, .expect__list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.orientation__item, .expect__item {
    position: relative;
    padding-left: 15px;
}
.orientation__item:before, .expect__item:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 8px;
    height: 8px;
    background: #f60;
}
.orientation__link, .expect__link {
    font-size: 15px;
    color: #1B2560;
}
/*cities and combine*/
.cities-combine__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.cities, .combine {
    position: relative;
    padding: 20px;
}
.cities__title, .combine__title {
    margin-bottom: 15px;
    --max-width: 768;
    --max-font: 18;
    --min-font: 16;
    font-size: var(--responsive);
    font-weight: 700;
    text-transform: uppercase;
    color: #1b2560;
}
.cities__list, .combine__list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.cities__item a, .combine__item a {
    font-size: 15px;
    color: #666;
}
.cities__item button {
    padding: 0;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: #666;
    cursor: pointer;
}
.cities__item button span {
    color: #FF6A00;
}
.cities__modal {
    position: relative;
    width: 100%;
    padding: 40px 20px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.cities__modal.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none
}
.cities__modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
    color: #666;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cities__modal-list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.cities__modal-title {
    font-size: 16px;
    font-weight: 600;
    color: #666666;
}
.cities__modal-item a {
    font-size: 15px;
    color: #000080;
}
@media screen and (min-width: 768px) {
    /*hero*/
    .hero {
        margin: 0;
    }
    .hero__wrapper {
        margin-top: 15px;
        height: 150px;
    }
    .hero__wrapper h1 {
        font-size: 32px;
    }
    .hero__description {
        padding: 0;
        margin: 15px 0;
    }
    /*Main title*/
    .main-title {
        --max-width: 1140;
        --min-width: 768;
        --max-font: 45;
        --min-font: 40;
        font-size: var(--responsive);
    }
    /*Center Orientation section*/
    .cmsContainerA {
        margin-top: 20px;
        padding: 30px;
        background: #fff 0% 0% no-repeat padding-box;
        box-shadow: 3px 4px 8px #00000080;
        border: 1px solid #ddd;
    }

    .dvCMSThreeImages {
        width: 100%;
        max-width: none;
        margin-bottom: 22px;
        display: flex;
        justify-content: space-between;
    }

        .dvCMSThreeImages span img {
            max-width: 200px;
            max-height: 200px;
            width: 100%;
            border: 2px solid #ccc;
            box-shadow: 6px 5px 5px #ccc;
        }

    .dvCMSContainerWBorder p, .dvCMSContainerWBorder {
        --max-width: 768;
        --max-font: 16;
        --min-font: 14;
        font-size: var(--responsive);
    }
    /*More section and Regions section */
    .more__title, .regions__title {
        margin-bottom: 25px;
        --max-width: 1140;
        --min-width: 768;
        --max-font: 20;
        --min-font: 20;
        font-size: var(--responsive);
        font-weight: 600;
    }

    .more__list, .regions__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        grid-gap: 30px 80px;
    }

    .more__item, .regions__item {
        width: calc((100% - 160px) / 3);
    }

    .more__image, .regions__image {
        padding: 20px;
    }

    .more__name, .regions__name {
        --max-width: 1140;
        --min-width: 768;
        --max-font: 24;
        --min-font: 22;
        font-size: var(--responsive);
    }

    .more__button, .regions__button {
        --max-width: 1140;
        --min-width: 768;
        --max-font: 16;
        --min-font: 14;
        font-size: var(--responsive);
    }

    .more__description, .regions__description {
        --max-width: 1140;
        --min-width: 768;
        --max-font: 14;
        --min-font: 13;
        font-size: var(--responsive);
    }
    /*Interests section*/
    .interests__title {
        margin-bottom: 25px;
        --max-width: 768;
        --max-font: 22;
        --min-font: 20;
        font-size: var(--responsive);
        font-weight: 600;
    }

    .interests__list {
        align-items: flex-start;
    }

    .interests__item {
        flex-direction: row;
        grid-gap: 35px;
    }

    .interests__image {
        max-width: 200px;
        padding: 20px;
    }

    .interests__wrapper {
        padding-top: 10px;
    }

    .interests__name a {
        --max-width: 1140;
        --min-width: 768;
        --max-font: 24;
        --min-font: 22;
        font-size: var(--responsive);
    }

    .interests__description {
        --max-width: 1140;
        --min-width: 768;
        --max-font: 14;
        --min-font: 13;
        font-size: var(--responsive);
    }
    /*HMap and Hotels sections*/
    .map-hotel {
        flex-direction: row;
        grid-gap: 30px;
    }

    .map, .hotels {
        width: calc((100% - 30px) / 2);
    }

    .map__title, .hotels__title {
        margin-bottom: 18px;
        --max-width: 1140;
        --min-width: 768;
        --max-font: 18;
        --min-font: 16;
        font-size: var(--responsive);
    }

    .map__button {
    }

        .map__button span:nth-child(2) {
            --max-width: 1140;
            --min-width: 768;
            --max-font: 20;
            --min-font: 18;
            font-size: var(--responsive);
        }

    .hotels__item a {
        --max-width: 1140;
        --min-width: 768;
        --max-font: 20;
        --min-font: 18;
        font-size: var(--responsive);
    }
    /*Best packages*/
    .best-packages {
        padding: 40px 0 60px 0;
    }

        .best-packages .first-container > div {
            flex-direction: row;
            align-items: flex-start;
        }

        .best-packages h2 {
            margin-bottom: 25px;
            --max-width: 768;
            --max-font: 22;
            --min-font: 20;
            font-size: var(--responsive);
            font-weight: 600;
        }

    .best-packages__image button {
        font-size: 16px;
    }

        .best-packages__image button span {
            width: 21px;
            height: 21px;
        }

    .best-packages__info {
        padding: 20px 35px 25px 55px;
        grid-gap: 8px;
        flex: 2;
    }

    .best-packages__name {
        --min-width: 768;
        --max-width: 1110;
        --max-font: 24;
        --min-font: 22;
        font-size: var(--responsive);
    }

    .best-packages__night {
        --min-width: 768;
        --max-width: 1110;
        --max-font: 16;
        --min-font: 14;
        font-size: var(--responsive);
    }

    .best-packages__review {
        --min-width: 768;
        --max-width: 1110;
        --max-font: 14;
        --min-font: 13;
        font-size: var(--responsive);
    }

    .best-packages__description {
        --min-width: 768;
        --max-width: 1110;
        --max-font: 14;
        --min-font: 13;
        font-size: var(--responsive);
    }

    .best-packages__wrapper {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        grid-gap: 20px;
    }

    .best-packages__include {
        flex: 2;
    }

        .best-packages__include > span {
            --min-width: 768;
            --max-width: 1110;
            --max-font: 14;
            --min-font: 13;
            font-size: var(--responsive);
        }

        .best-packages__include li, .best-packages__include li p, .best-packages__include li strong {
            --min-width: 768;
            --max-width: 1110;
            --max-font: 14;
            --min-font: 13;
            font-size: var(--responsive);
        }

    .best-packages .best-packages__customize {
        width: 240px;
        --min-width: 768;
        --max-width: 1110;
        --max-font: 18;
        --min-font: 12;
        font-size: var(--responsive);
    }
    /*template-FullPackImage*/
    .template-FullPackImage h2 {
        margin-bottom: 25px;
        --min-width: 768;
        --max-width: 1110;
        --max-font: 22;
        --min-font: 20;
        font-size: var(--responsive);
        font-weight: 600;
    }
    /*Suggested */
    .suggested {
        padding-top: 54px;
        padding-bottom: 54px;
    }

        .suggested h2 {
            margin-bottom: 25px;
            --min-width: 768;
            --max-width: 1110;
            --max-font: 22;
            --min-font: 20;
            font-size: var(--responsive);
            font-weight: 600;
        }

        .suggested > ul {
            flex-wrap: wrap;
            flex-direction: row;
            grid-gap: 20px;
        }

            .suggested > ul > li {
                width: calc((100% - 40px) / 3);
            }

    .suggested__buttons {
        margin-top: 80px;
        flex-direction: row;
        justify-content: center;
        grid-gap: 25px;
    }

    a.suggested__browse span, a.suggested__build span {
        top: -4px;
    }
    /*Banners*/
    .banners {
        padding: 20px;
    }

        .banners ul {
            flex-direction: row;
            justify-content: center;
            grid-gap: 70px;
        }
    /*orientation and expect*/
    .orientation-expect__wrapper > div {
        flex-direction: row;
    }

    .orientation, .expect {
        width: calc((100% - 70px) / 2);
        padding: 30px;
    }

    .orientation__title, .expect__title {
        --min-width: 768;
        --max-width: 1110;
        --max-font: 18;
        --min-font: 16;
        font-size: var(--responsive);
    }
    /*cities and combine*/
    .cities-combine__wrapper {
        flex-direction: row;
    }

    .cities, .combine {
        width: 50%;
        padding: 20px 30px;
    }

    .cities__title, .combine__title {
        --min-width: 768;
        --max-width: 1110;
        --max-font: 18;
        --min-font: 16;
        font-size: var(--responsive);
    }

    .cities__modal {
        left: 30%;
    }
}
@media screen and (min-width: 1100px) {
    .more__image, .regions__image {
        padding: 50px;
    }
}