.ui-panel{width:100%!important}
.ui-panel-inner{padding:0}
.ui-listview>.ui-li-static{white-space:inherit}
.dvRoundBoxes table{table-layout:fixed;width:95%!important;white-space:inherit}
.dvRoundBoxes table img{width:100px;height:100px;white-space:inherit}
.dvMhomeContainer {
    background: white!important;
    border-top: 1px solid #ccc;
}
.container{padding:0!important}
.container.mobContainer {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.dvtd {
    width: 50%;
    position: relative;
    float: left;
}
.dvPageTitleWhite {
    margin: 0 auto 15px auto;;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 19px;
    font-weight: 100;
    color: #fff;
    padding: 12px 0px 12px 10px;
    height: auto;
    background: #638bd1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 15px;
    max-width: 100%;
    width: 96%;
    text-align: left;
}
.dvBoxTitle{color:#12174D;font-size:1.07em;margin-bottom:15px}
.dvBoxTitleInfo{color:#12174D;font-size:1.07em;margin-top:15px}
.dvBoxTitleInfo a,.dvBoxTitle a{color:#12174D}
.dvBoxCombCounTitle{float:left;margin-top:2%}
.dvBoxCombCounInfo{color:#12174D;padding:15px;font-size:1.07em;cursor:pointer;word-wrap:break-word;height:30px}
.dvBoxCombCounInfo:not(:last-child){border-bottom:1px solid #CCC}
.dvTabOptions{background-color:#EAF2FF;border-top:1px solid #CCC;padding:12px 0;cursor:pointer}
.popUpConteiner{display:none}
.dvPopCMS table{width:100%!important;table-layout:fixed}
.dvTabOptions:before{content:attr(lang);vertical-align:middle;float:right;font-size:2.5em;color:#F60;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);margin-right:10px}
.dvTabOptionsRot{background-color:#EAF2FF;border-top:1px solid #CCC;border-bottom:1px solid #CCC;padding:12px 0;cursor:pointer}
.dvTabOptionsRot:before{content:attr(lang);vertical-align:middle;float:right;font-size:2.5em;color:#F60;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);margin-right:12px}
.dvboxTabTitle{padding:10px 15px 3px;color:#12174D;font-size:13px;width:82%;float:left}
#dvPoiLink{font-size:1.3em;padding:15px}
#dvPoiMap{float:left;width:auto;cursor:pointer;padding-right:10px}
.cnArrowRight{width:0;height:0;border-style:solid;border-width:5px 0 5px 10px;border-color:transparent transparent transparent #11164e;line-height:0;_border-color:#000 #000 #000 #11164e;_filter:progid:DXImageTransform.Microsoft.Chroma(color='#000000');float:right;margin-top:5px}
/*New GP/GP2 page*/
.dvPlaceTitle{padding:20px 0px 0px;font-size:27px;font-weight:700;color:#638BD1;text-align:center}
.dvCenterBoxTitle{color:#ff6600;text-transform:capitalize;font-size:18px;font-weight:700;padding:0 15px;}
.sectionDescription {
    padding-top: 20px;
    padding-bottom: 46px;
    margin: 0 auto;
    width: 100%;
}
.imgBestvac {
    width: 76%;
    height: 76%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 4px 8px #00000080;
    border: 1px solid #DDDDDD;
    opacity: 1;
    margin: 0 auto;
    padding: 30px;
}
.descriptionBest {
    text-align: justify;
    line-height: 24px;
    width: 90%;
    margin: 0 auto;color:#666;
}
.divdvregion {
    border: 1px solid #D0D0D0;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.dvCenterBox {
    padding: 15px 20px;margin: 0 17px;
    border: solid 1px #638BD1 !important;
    box-shadow: 0px 3px 6px #00000029;
}
.packageBest {
    width: 97%;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: block;height:447px
}

div .region {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.dvregion {
    display: block;
    width: 50%;
    float: left;
    margin: 0 auto;
}

.dreg {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.regionImg {
    width: 180px;
    height: 180px;
}
.dvCMSContainerWBorder {
    height: auto;
    width: auto;
    max-width: auto !important;
    border: none !important;
    padding: 0px !important;
    font-size: 15px;
    text-align: justify !important;
    margin: 5px auto 0 auto;
}
.dvEachHide {display: none;padding:0px;list-style:none;}
div.moreButton, div.moreButtonTravel {
    position: relative;
    background: #fffecd linear-gradient(to bottom,#fffecd 18%,#fffecd 4%,#ffd968 50%,#ffd968 100%) repeat scroll 0 0;
    border: 1px solid #d9a300;
    border-radius: 11px;
    color: #000;
    cursor: pointer;
    font-size: 14px !important;
    margin: 0 auto;
    margin-top: 0px;
    max-width: 265px;
    padding: 10px 35px 10px 20px;
    width: auto;
    margin-top: 52px;
    text-align: center;
    margin-bottom: 20px;
}

    div.moreButton span, div.moreButtonTravel span {
        font-size: 28px;
        position: absolute;
        top: 0;
        right: 14px;
        transform: rotate(90deg);
    }
.nameRegion{word-wrap:break-word; height:auto; font-size:24px;padding-top:20px;width:180px;text-align:center;padding-bottom:20px;}
.nameRegion a{text-decoration:none;color:#1B2560;font-size:16px}
.titleRegion {
    color: #1B2560;
    text-transform: uppercase;
    font-weight: 100;
    padding: 15px;font-size:20px;
}
.dvEachHideExpl {
    display: none;
    width: 100%;
    margin: 0 auto;
}
.moreExplore {
    width: 300px;
    margin: 0 auto;
    list-style: none
}
.divTilteRegion {
    padding: 20px 0px 10px;
    float: left;
    width: 300px;font-size:14px;font-weight:700;
}
div.moreButtonExpl {
    background: #fffecd linear-gradient(to bottom,#fffecd 18%,#fffecd 4%,#ffd968 50%,#ffd968 100%) repeat scroll 0 0;
    border: 1px solid #d9a300;
    border-radius: 11px;
    color: #000;
    cursor: pointer;
    font-size: 14px !important;
    margin: 0 auto;
    margin-top: 0px;
    max-width: 240px;
    padding: 10px 15px 10px 20px;
    width: auto;
    text-align: center;
}
div.moreButtonExpl span {
    float: right;
    font-size: 28px;
    position: relative;
    top: -6px;
    transform: rotate(90deg);
}
.titlesuggestion {
    padding: 40px 10px 15px 15px;
    color: #f60;
    font-size: 20px;
    font-weight: 100;text-transform:uppercase;
}
.arrow {
    font-size: 26px;
    float: right;
    position: relative;
    top: -12px;margin-right:15px;
    transform: rotate(90deg);
}

.DotedLine {
    border-bottom: 1px #112b77 dotted;
    border-bottom-style: dotted;
    border-style: none none dotted;
    color: #fff;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}
.titleSpanMore {
    padding: 25px 0px;
    color: #1B2560;
    font-size: 22px;
}
.titleSpanMore a {
    text-decoration: none !important;
    color: #1B2560;font-size:22px;
}
.imgTitMore {
    padding-top: 5px;
    float: right;
    width: 25px
}
.browseButton {
    color: #000;
    cursor: pointer;
    font-size: 14px !important;
    margin: 0 auto;
    max-width: 95%;
    width: auto;
    text-align: center;
    text-decoration: none;
}
.browseButton::after {
    content: " ›";
    font-size: 28px;
    position: relative;
    color: black;
    padding-right: 7px;top:3px;
}
.buildButton {
    color: #fff;
    cursor: pointer;
    font-size: 14px !important;
    margin: 0 auto;
    max-width: 95%;
    width: auto;
    text-align: center;
    text-decoration: none;
}
.buildButton::after {
    content: " ›";
    font-size: 28px;
    position: relative;
    color: #fff;
    padding-right: 7px;top:4px;
}
.titleMoreExplore{font-size:20px;color:#1B2560;padding-bottom:8px;padding-left:16px;text-transform:uppercase;font-weight:100}
.dvCMSContainerWBorder p{font-size:15px}
.dvSuggCustomIt {
    padding: 6px 0;
    background: #ffecb2 linear-gradient(to bottom,#ffecb2 18%,#ffecb2 4%,#ffc515 50%,#ffc515 100%) no-repeat scroll 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    border: 1px solid #e7b610;
    border-radius: 5px;
    display: block;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;margin-bottom:10px;text-decoration:none;
}
.dvSuggCustomIt a{color:black;font-size:14px;text-decoration:none;padding-right:10px}
.dvSuggCustomIt a:hover {color: black;}
.BGboxTitle {
    font-size: 24px;
    padding:15px 0 15px 7px;
    color: #1b2560;
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
    display: inline;font-weight:100;
}
#overview h1 {
    font-size: 20px;
    color: #638BD1;
    text-transform: uppercase;
    font-weight: 100;display:table-cell;vertical-align:middle;width:98%;
}
.sectionOverview{background: #FFFFFF 0% 0% no-repeat padding-box;border-radius:10px;width:90%;padding:1px 30px;height:auto;margin:0 auto;}
.packageTitleMob {
    color: #1B2560;
    padding-top:10px
}
#overview {
    display: table;
    height: 70px;
}
.packageTitleMob a{ color: #1B2560;text-decoration: none !important;font-size: 18px;}
.aCFB{color: #1B2560;text-decoration: none !important}
.dvMoreDetail {
    font-family: Arial;
    font-size: 14px;
    color: #000;
    padding: 10px;
    position:relative;
    background: transparent linear-gradient(180deg,#fff 0%,#cfcfcf 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #e4e4e4;
    width:100%;
}
.spArrow {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 30px;
    transform: rotate(90deg);
}
.BGDown {
    position: absolute;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 1px;
    height: 28px;
    margin-right: 1px;margin-left:-1px;width:100%;
}
    .BGDown div {
        background: #fff url(https://pictures.tripmasters.com/siteassets/d/BG_Down.jpg) no-repeat scroll center top;
        display: inline-block;
        height: 31px;
        position: relative;
        width: 100%;
        z-index: 5;
    }
.dvFeatPromo p{font-size:14px!important}
.dvCMSThreeImages {display: none !important}
.dvFeatItin{padding-top:32px;}
.dvFeatItinTitle{font-size:18px;font-weight:700;color:#ff6600;text-transform:uppercase; padding:15px 10px;}
.dvEachFeatItin{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dvEachFeatItin > div:nth-child(1) {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.dvEachFeatItin > div:nth-child(2) {
    position: relative;
}
.dvEachFeatItinHide{display:none;}
.dvEachFeatImg{width: 100%;}
.dvEachFeatImg img{width:100%;}
.dvEachFeatInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.dvEachFeatInfo b{color:#ff6600;}

.dvEachFeatDesc {
    padding: 20px 8px;
    clear: both;
    display: none;
    border: 1px solid #ccc;
    margin: 0px 5px;
}
.dvFeatPromo{font-size:12px;margin-bottom:10px;}
.dvFeatInclud{font-size:12px;}
.dvFeatInclud ul{padding:10px 15px 5px;}
.dvFeatViewIt{padding:7px 0;margin-top:10px;background:#ffecb2 linear-gradient(to bottom,#ffecb2 18%,#ffecb2 4%,#ffc515 50%,#ffc515 100%) no-repeat scroll 0 0;text-align:center;font-size:14px;font-weight:700;color:#000;border:1px solid #e7b610;border-radius:5px;display:block;width:80%;margin:0 auto;text-decoration:none;}
.dvHide{display:none}
.dvMoreFeatBtn{margin:20px auto 20px;border:1px solid #d9a300;color:#000;padding:10px 20px 10px 15px;font-size:14px;text-transform:capitalize;text-align:center;background:#fffecd linear-gradient(to bottom,#fffecd 18%,#fffecd 4%,#ffd968 50%,#ffd968 100%) repeat scroll 0 0;width:60%;}
.dvMoreFeatBtn span{float:right;font-size:28px;position:relative;transform:rotate(90deg);top:-8px;}
.dvBoxTab{padding:5px 0;border-top:1px solid #666;clear:both;}
.dvBoxTab:last-child{border-bottom:1px solid #666;}
.dvBoxTab:before{content:attr(lang);vertical-align:middle;float:right;font-size:30px;color:#ccc;margin-right:10px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
.dvBoxTabRot:before{content:attr(lang);vertical-align:middle;float:right;font-size:30px;color:#ccc;margin-right:16px;-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg);}
.dvBoxTabTitle{padding:10px 15px;color:#1b1560;font-size:12px;width:82%;float:left;font-weight:700;}
.dvBoxTabMap{padding:55px 27px 15px;background: #F5F5F5 0% 0% no-repeat padding-box;height:auto}
.dvBoxTabMapTitle {margin-bottom: 20px;font-weight:100; color: #638BD1;font-size:18px;text-transform: uppercase;}
.dvBoxMapWrapper {
    display: flex;
    flex-direction: row;
    grid-gap: 15px;
    justify-content: space-between;
    align-items: center;
}
.dvBoxMapLink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://pictures.tripmasters.com/siteassets/d/map_icon2.png);
    background-repeat: no-repeat;
    width: 100px;
    cursor: pointer;
    border: 1px solid #638bd1;
    border-radius: 6px;
    height: 100px;
}
.dvBoxMapLink p {
    margin: 0;
    font-size: 13px;
    text-align: center;
}
.mapOfInterest {color: #1B2560;font-size: 20px;margin: 0;}
.mapHotelsActivities {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 6px;
    display: block;
    width: auto;
    margin: 52px 0 91px;
    height: auto
}
.map{width:90%;margin:30px 14px 30px 25px;background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 10px;height:206px}
.hotelActivities{padding:27px 27px 55px;background: #F5F5F5 0% 0% no-repeat padding-box;height:auto;}
.dvBoxTabTitleHotelActivities {
    padding: 28px 20px 18px;
    color: #638BD1;
    font-size: 18px;
    text-transform: uppercase;font-weight:100;
}
.divaLinkBox {
    margin: 3px 5px 30px 35px;
    display: block;
    width: 23px;
    height: 26px;
    background-image: url(https://pictures.tripmasters.com/siteassets/d/cm_orange.png);
    background-repeat: no-repeat;
}
.aLinkBox {
    color: #1B2560 !important;
    display: block;
    text-decoration: none;
    padding-left: 40px;font-size:20px;
}
#overview span {
    font-size: 35px;
    transform: rotate(90deg);
    display:table-cell;
}
.dvWhatToExpect {
    display: table;
    height: 70px;
}
.dvWhatToExpect span {
    font-size: 35px;
    transform: rotate(90deg);
    display:table-cell;
}
.dvTitlecities{
    background-color: #EAF2FF;
    height: 70px;
    position: relative;
  border-bottom:2px solid white;
}
.dvTitlecities span {
    float: right;
    color: #FF6600;
    font-size: 35px;
    position: relative;
    top: -74px;
    transform: rotate(90deg);margin-right:36px
}
.hidedvTitlecities {
    top:0px;
    position: relative;
}
.dvTitlecities h1:after {
    content: attr(lang);
    vertical-align: middle;
    float: right;
    font-size: 35px;
    color: #FF6600;
    margin-right: 15px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.dvCombine {
    background-color: #EAF2FF;
    height: 70px;
    position: relative;
}
.dvCombine h1:after {
    content: attr(lang);
    vertical-align: middle;
    float: right;
    font-size: 35px;
    color: #FF6600;
    margin-right: 15px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.dvNoReviews {
    padding: 0 18px 5px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-align: left;
    float: left;
    padding-top: 7px
}
.spCms {word-wrap:break-word; float:left; height:auto;font-size:16px;color:#1B2560!important;height:30px}
.dvEachBoxTabReg {
    clear: both;
    display: inline-block;
    width: 95%;
    padding: 10px 15px;
    border-bottom: 1px dotted #666;
}
.dvEachBoxTabReg img{width:70px;vertical-align:middle;}
.dvEachBoxTabReg span:nth-child(2){padding-left:10px;font-size:14px;color:#1b1560;}
.dvEachBoxTabMore{padding:10px 15px;border-bottom:1px dotted #666;}
.dvEachBoxTabMore p{font-size:16px;font-weight:700;color:#1b1560;}
.dvEachBoxTabMore div:nth-child(3){width:62%;float:right}
.dvEachBoxTabMore img{width:35%;height:120px;float:left}
.dvEachCity{border-bottom:1px dotted #666;padding:10px 15px;}
.dvEachCityHide{display:none;}
.spCity{display:inline-block;font-size:12px;color:#666;width:92%;}
.spCity:after{content:"\A";border-style:solid;border-width:6px 6px 0 6px;border-color:#000 transparent transparent transparent;position:absolute;right:15px;margin-top:3px;}
.spCityUp:after{content:"\A";border-style:solid;border-width:0 6px 6px 6px;border-color:transparent transparent #000 transparent;position:absolute;right:15px;margin-top:3px;}
.dvCityInfo{padding:15px 0;display:none;font-size:12px}
.dvEachCityMore{padding:10px 15px;color:#1b1560;}
.dvViewDest{text-align:right;padding:10px 0 20px;color:#1b1560;font-size:14px;font-weight:700;}
.spCombCou {
    display: block;
    font-size: 12px;
    color: #1b1560;
    padding: 15px;
    border-bottom: 1px dotted #666;
}
.sectionWhatTo{background: #FFFFFF 0% 0% no-repeat padding-box;border-radius:10px;width:90%;height:auto;padding:2px 30px;margin:10px auto 0;}
.titleWhatTo {
    font-size: 20px;
    color: #638BD1;
    text-transform: uppercase;
    font-weight: 100;
    display: table-cell;
    vertical-align: middle;
    width: 98%;
}
.hidedvTitlecities{display:none;padding:0px;list-style:none;}
.hidedvCombine{display:none;list-style:none;padding:0px}
.dvSlideContainer{display:none;overflow:scroll}
.dvMbBack{padding:10px 15px;background-color:#ccc;width:100%;overflow:scroll;-webkit-overflow-scrolling:touch;z-index:1}
#dvContent{width:92%;margin:5px auto;}
.dvMBYOImg{background-color:#fff;padding:15px;border-right:1px solid #ccc;border-left:1px solid #ccc;border-top:1px solid #666;}
.aCustItin{font-size:14px;color:#12174D;font-weight:700}
.spArrows:before{content:attr(lang);color:#FAA819;font-size:22px;}
.dvMbSuggItin{background-color:#ccc;}
.suggItin{height:90px;padding-bottom:30px;width:100%;}
.dvSuggItin{background:#fff;margin:0 auto;padding:10px;height:auto;width:80%}
.dvSuggItin a{text-decoration:none !important;}
.dvSuggItin img{margin-right:10px;width:70px;height:70px;}
.dvSuggItin span{text-align:left;display:block;padding:0 5px;}
div.spMnext{right: -9px !important;left:auto;font-size:50px;top:30px;opacity:1 !important;}
div.spMprev{left:-8px !important;font-size:50px;top:60px;opacity:1 !important;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);}
.dvMbPlacesFeedsTl{color:#1b1560;text-transform:uppercase;font-size:18px;font-weight:700;}
.emptyStars {
    background: transparent url(https://pictures.tripmasters.com/siteassets/d/stars_empty.png) no-repeat scroll 0 0;
    height: 23px;
    float: left;
    position: absolute;
    top: 0px;
}
.fullStars {
    background: transparent url(https://pictures.tripmasters.com/siteassets/d/stars_full.png) no-repeat scroll 0 0;
    height: 23px;
    float: left;
    position: absolute;
    top: 0px;
}
.darkTextMob {
    color: #666;
    font-size: 12px;
    line-height: 20px !important;
    display: table-cell;
}
.BlueArrow {
    color: #638BD1;
    padding: 0px 0px 0 6px;
}
.dvGoRightUrl {
    background-color: white;
    color: #1b1560;
    font-weight: 700;
    padding-left: 15px;
    font-size: 12px;
    border-top: 1px solid #666;
    clear: both;
}
.dvGoRightUrl:before{color:#ccc;font-weight: 700;}
.browseBuild {
    text-align: center;
    padding: 20px 0;
    margin: 37px 0 0px 0;
    border-bottom: 1px solid #36F;
    background-color: #FFF5D8;
    border-top: 1px solid #D5D3CE;
    clear:both;
}

.divBrowse {
    padding-bottom: 5px;
    width: 95%;
    background: #ffecb2 linear-gradient(to bottom,#ffecb2 18%,#ffecb2 4%,#ffc515 50%,#ffc515 100%) no-repeat scroll 0 0;
    border: 1px solid #ffc001;
    border-radius: 5px;
    margin: 0 auto;
}

.divBuild {
    background: #2c3c9c linear-gradient(to bottom,#2c3c9c 18%,#2c3c9c 4%,#1b2560 50%,#1b2560 100%) repeat scroll 0 0;
    border: 1px solid #1b2560;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 4px;
}
.description {
    margin-bottom: 10px;
    float: left;
    color: #666666;
    font-size: 13px;
    line-height: 23px;
    text-align: justify
}
.description p{
    color: #666666;
    font-size: 15px;
}
.pDescription span {
    color: #666666 !important;
    font-size: 15px !important;
}
.cityName {
    padding: 10px 20px;
    vertical-align: middle;
    display: table-cell;
}
.moreDet {
    padding: 5px 20px 2px 0px;
    float: right;
    font-size: 15px;
    font-weight: 100;
    color: #333333
}
.ulinterests {
    list-style: none !important;
    margin: 0 auto;
    padding: 10px 10px 0;
}

.dvEachHideliInterest, .dvEachHideliAttrt, .dvEachHideliTravel {
    list-style: none !important;
    margin: 0 auto;
    padding: 0 10px 10px;
    display: none
}

.liInterest {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D2D2D2;
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    height: 95px;
    margin: 10px 0;
}

.liInterestAt {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D2D2D2;
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    height: 120px;
    margin: 10px 0;
}

.imgInterests {
    width: 27%;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.imgInterestsAt {
    width: 32%;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.imgInterests img {
    height: 75px;
    width: 75px
}

.imgInterestsAt img {
    height: 100px;
    width: 100px
}

.titleDescription {
    float: left;
    width: 70%;
    padding-top: 20px;
}

.titleDescriptionAt {
    width: 68%;
    height: 120px;
    display: table;
}

.titleDescriptionH2 {
    color: #1B2560 !important;
    font-size: 18px;
    text-align: left;
    padding: 10px 0;
    display: table-cell;
    vertical-align: middle;
}
.h1titleCities{font-size:20px;color:#1B2560;padding:23px 16px;text-transform:capitalize;font-weight:100}
.h1titleCombine{font-size:22px;color:#1B2560;padding:23px 16px;text-transform:capitalize;font-weight:100}
.aH2TitleDescription {
    padding: 10px 18px;
    color: #1b2560;
    font-size: 20px;
}
.moreDescription {
    margin-bottom: 10px;
    float: left;
    width: 180px;
    color: #666666;
    font-size: 13px;
    line-height: 23px;
    text-align: justify
}
.pMoreDescription {
    font-size: 15px!important;
}
.sectionMore {
    margin-top: 30px;
    height: auto;
    padding: 30px 0px;
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid #3366FF;
}
.ulMore {
    padding: 0px;
    list-style: none;
}
.sectionFeatInt {
    height: auto;
    width: 100%;
    border-top: 1px solid #3366FF;
}
.divStras{display:table}
.ulReviews {
    padding: 35px 0px 10px 0px;
    width: auto;
    list-style: none;
}
.liSuggested {
    padding: 10px;
    height: auto;
    margin: 0 auto;
    width: 92%;
    list-style: none
}
.liSuggested:nth-child(odd){background-color:#ECF1FF}
.liSuggested:nth-child(even){background-color:white}
.packageNameSuggested {
    width: 70%;
    padding: 6px 0px 0px 10px;
    float: left;
    font-size: 14px;
    color: #1B2560
}
.packagesPrice {
    padding: 10px 20px 2px 0px;
    float: left;
    font-size: 16px;
    font-weight: 100;
    color: #333333
}
.packagesPrice span{cursor: pointer;padding: 10px;font-size: 14px;}
.packagesPrice span b{font-size:14px; color:#FF6600;font-weight:100}
.sectionReviews{padding-top:25px;}
.dvFeedLink {
    padding: 10px;
    font-size: 14px;
    width: 95%;
    margin: 0 auto;list-style:none!important;
}
.dvFeedLink:nth-child(odd) {background-color: #ECF1FF}
.dvFeedLink:nth-child(even) {background-color: white}
:root {
    --star-size: 30px;
    --star-color: #fff;
    --star-background: #fc0;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: table-cell;
    font-size: var(--star-size);
    line-height: 1px;
    padding: 0px 0 0 10px;vertical-align:middle;
}

    .Stars::after {
        content: '★★★★★';
        letter-spacing: 1px;
        background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent)) no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: #0000001a;
    }
.overviewWhat {
    width: 100%;
    margin: 0 auto;
    background-color: #F7F7F7;
    height: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #36F;
}
.listOverview {
    word-wrap: break-word;
    padding: 5px 0px 0px 10px;
    height: 40px;font-size:12px;
}
    .listOverview span {
        width: 8px;
        height: 8px;
        background: #FF6600 0% 0% no-repeat padding-box;
        display: inline-block;
        margin-right: 10px;
    }
.pReviews{width:94%;padding-left:4px}
.allReviews {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.allReviews a{font-size: 18px;color: #1b2560;}
.dvFeedLink div a{color: #1b2560;}
.dvBublleStyle {
    width: 100%;
    max-width: 210px;
    height: 100%;
    max-height: 400px;
}

.dvBublleStyle img {
        width: 92%;
        max-width: 200px;
        max-height: 190px !important;
        height: 72% !important;
    }
@media screen and (max-width:375px) {
    .dvBoxMapWrapper {
        flex-direction: column;
    }
    .packageBest{width:97%;}
    .BGDown {margin-right: 0px;margin-left: 0px;width: 100%;height: 31px;}
    .dvEachFeatDesc {margin: 5px;}
    .dvBoxTabTitleHotelActivities{font-size:20px;}
    .regionImg{width:150px;height:160px}
    .nameRegion{width:150px;}
    .nameRegion a{word-wrap:break-word}
    .moreDet {
        padding: 10px 3px 2px 0;
    }
    }
@media screen and (orientation:landscape) {
    .arrow{top:-27px;}
    .nameRegion {width: 100%;}

    }
.lidvInfF{padding: 15px 5px 5px 0px;display:none;margin:20px;border:1px solid #ccc;list-style:none;font-size:12px;}
.divdvTxtF {
    padding: 3px 0px;
    width: 92%;
    margin: 0 auto;
    text-align: justify;
    font-size: 14px
}
.lidvInfF p {
    padding: 5px 0px;
    width: 85%;
    margin: 0 auto;
}
.ulHideSuggest {
    padding-left: 15px;
    width: 85%;
    margin: 0 auto;
    list-style: disc;
}
.divdvFeedF {
    display: block;
    padding: 30px 30px;
    width: 85%;font-size:11px;
}
.P_Blu_Arial_12 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #006;
}
.P_Ora_Arial_12 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #f60;
}
.dvCityInfo b {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #006;
}
.NoReviews {
    font-size: 12px;
    font-weight: 700;
}
.dvFeatContenedor {
    background-color: #e1e7f3;
    height: auto;
    padding: 20px 20px 20px;
    display: block !important;
}

.dvFeatPictures {
    width: auto !important;
}

div.dveachOtherImg {
    margin: 0 auto;
    text-align: center;
}

.imgpackage {
    width: 95%;
}

.descriptionPackages {
    padding-left: 14px !important;
    padding-top: 10px;
}

span.spfeatTitle a {
    font-size: 18px;
    color: #1b2650;
    margin: 0;
    padding: 0;
    display: block;
    font-weight: 700;
}

.spfeatNight {
    font-size: 14px;
    color: #666;
    padding: 4px 0 0;
    margin: 0;
    font-weight: 500;
}

    .spfeatNight span {
        color: #ff7f00;
        font-weight: 700;
    }

.descriptionPackages p {
    font-size: 12px;
    margin-top: 10px;
}

.pDvCustomIt {
    text-align: center
}

.dvCustomIt {
    background: #fffecd linear-gradient(to bottom,#fffecd 18%,#fffecd 4%,#ffd968 50%,#ffd968 100%) repeat scroll 0 0;
    border: 1px solid #d9a300;
    border-radius: 11px;
    color: #000;
    cursor: pointer;
    font-size: 12px !important;
    padding: 8px 50px;
}

    .dvCustomIt span {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #000080 !important;
        margin: 0 auto;
    }
@media screen and (min-width:310px) and (max-width:350px ) {
    .dvBoxTabTitleHotelActivities{font-size:18px}
    .regionImg {
        width: 150px;
        height: 150px;
    }
    .dvregion {
        width: 42%;
        margin: 0 auto;padding:0 10px;
    }
 }

.hero {
    margin: 15px 0;
}
.hero__wrapper {
    position: relative;
    height: 125px;
}
.hero__wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero__wrapper h1 {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    text-shadow: 2px 2px 3px #0000008c;
    text-align: center;
    color: #fff;
}
.hero__shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 40%, rgba(0, 0, 0, .85));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero__description {
    margin-top: 10px;
    padding: 0 10px;
    line-height: 1.4;
    font-size: 15px;
}