footer{padding:0 15px;}
.ui-panel{width:100%!important}
.ui-panel-inner{padding:0}
.ui-listview>.ui-li-static{white-space:inherit}
.dvRoundBoxes table{table-layout:fixed;width:95%!important;white-space:inherit;margin:0 auto;}
.dvRoundBoxes table img{width:100px;height:100px;white-space:inherit}
.dvMhomeContainer{background-color:white!important;padding:unset!important}
.dvtd {width: 50%;position: relative;float:left;}
.dvBoxTitle{color:#12174D;font-size:1.07em;margin-bottom:15px}
.dvBoxTitleInfo{color:#12174D;font-size:1.07em;margin-top:15px}
.dvBoxTitleInfo a,.dvBoxTitle a{color:#12174D}
.dvBoxCombCounTitle{float:left;margin-top:-3%}
.dvBoxCombCounInfo{color:#12174D;padding:25px 15px;font-size:1.07em;cursor:pointer;word-wrap:break-word;}
.dvBoxCombCounInfo:not(:last-child){border-bottom:1px solid #CCC}
.dvTabOptions{background-color:#EAF2FF;border-top:1px solid #CCC;padding:12px 0;cursor:pointer}
.popUpConteiner{display:none}
.dvPopCMS table{width:100%!important;table-layout:fixed}
.dvTabOptions:before{content:attr(lang);vertical-align:middle;float:right;font-size:2.5em;color:#F60;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);margin-right:10px}
.dvTabOptionsRot{background-color:#EAF2FF;border-top:1px solid #CCC;border-bottom:1px solid #CCC;padding:12px 0;cursor:pointer}
.dvTabOptionsRot:before{content:attr(lang);vertical-align:middle;float:right;font-size:2.5em;color:#F60;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);margin-right:12px}
.dvboxTabTitle{padding:10px 15px 3px;color:#12174D;font-size:13px;width:82%;float:left}
#dvPoiLink{font-size:1.3em;padding:15px}
#dvPoiMap{float:left;width:auto;cursor:pointer;padding-right:10px}
.cnArrowRight{width:0;height:0;border-style:solid;border-width:5px 0 5px 10px;border-color:transparent transparent transparent #11164e;line-height:0;_border-color:#000 #000 #000 #11164e;_filter:progid:DXImageTransform.Microsoft.Chroma(color='#000000');float:right;}
.dvPlaceTitle{padding:20px 0px 0px;font-size:30px;font-weight:700;color:#638BD1;text-align:center}
.dvCenterBoxTitle{color:#ff6600;text-transform:capitalize;font-size:18px;font-weight:700;padding:0 15px;}
.dvPageTitleWhite {
    margin: 0 auto;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    padding: 12px 0px 12px 10px;
    height: auto;
    background: #638bd1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 15px;
    max-width: 90%;
    text-align: left;text-transform:capitalize!important;
}
.sectionDescription {
    margin: 3px 5px 10px 5px;
    display:table-cell;
    padding-top: 20px;
    border-bottom: 1px solid #36f;
    padding-bottom: 46px;margin:0 auto;width:100%;
}
.imgBestvac {
    width:90%;
    height: 332px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 4px 8px #00000080;
    border: 1px solid #DDDDDD;
    opacity: 1;
  margin:0 auto;padding:30px;
}
.imgBestvac img{width:100%; height:100%;margin:0 auto;border: 1px solid #707070;}
.descriptionBest {
    text-align: justify;
    line-height: 24px;
    width: 90%;
    margin: 0 auto;font-size:14px;padding-top:20px;
}

.divdvregion {
    border: 1px solid #D0D0D0;
    width: 60%;
    height: 300px;
    margin: 0 auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.dvCenterBox {
    padding: 15px 20px;margin: 20px 17px;
    border: solid 1px #638BD1 !important;
    box-shadow: 0px 3px 6px #00000029;
}
.packageBest {
    width: 90%;
    border: 1px solid #ccc;
    margin: 0 auto;
}
.dvMobFeatContenedor {
    height: auto;
    padding: 30px 0 0;
    background: #e1e7f3 linear-gradient(to bottom,#e1e7f3 5%,#fff 100%) repeat scroll 0 0;
    border-bottom: 1px solid #36f;
    padding-bottom: 40px;
}
.dvMobFeatureTitle {
    text-transform: uppercase;
    color: #ff7f00;
    font-size: 18px;
    padding: 0 18px;
    font-weight: 700;
}
.dvMobFeatImg {
    width: 100%;
    margin: 0 auto;
}
.dvMobFeaImConteier {
    width: 90%;
    background: white;
    height: auto;
    margin: 0 auto;
    padding: 6px;
    border: 1px solid #E4E4E4;
}
.dvMobFeaImConteier img{
 text-align: center;
margin: 0 auto;
height: 360px;
width: 100%;}
.pMobFeatTitle{padding-left:18px;padding-top:20px;margin-bottom:6px}
.pMobFeatTitle a {
    font-size: 20px;
    text-align: left;
    letter-spacing: 0px;
    color: #1B2560;
    opacity: 1;
    text-decoration: unset !important;
}
.titleSpanMore {
    padding: 25px 0px;
    color: #1B2560;
    font-size: 22px
}
.titleMore {
    padding: 20px 0px 10px;
    float: left;
    width: 300px; 
}
.titleMore a{text-decoration:none!important;color:#1B2560}
.titleMore img{float:right;width:28px}
p.pMobFeatNight {
    font-size: 12px;
    color: #666;
    padding: 0px 18px 0;
    margin: 0;
}
    p.pMobFeatNight span {
        color: #ff7f00;
        font-weight: 700;
    }
p.pMobFeatFeed {
    font-size: 12px;
    padding: 5px 18px 0;
    margin: 0;
}
.p.pMobFeatFeed a {
    color: #1B2560;
}
.pMobFeatDesc {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    line-height: 18px;
    padding-top: 10px;
    color: #666666;font-size:14px;
}
.pMobFeatIncld{width:90%;text-align:left;padding-top:10px;margin:0 auto;font-size:14px;}

div.dvMobCustomIt {
    border: 1px solid #ccc;
    width: 94%;
    height: 40px;
    display: table;
    cursor: pointer;margin:0 auto;
}
div.dvMobCustomIt span {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background: #1b2560;
    color: #fff;
    font-size: 16px;
    display: table-cell;
}
div.dvMobCustomIt span font {
    font-size: 28px;
    left: 45px;
    line-height: 12px;
    position: relative;
    top: 2px;
}
.ulPackage {
    padding: 0 30px;
    line-height: 19px;
    color: #666;font-size:14px;
}
.dvregion {
    display: block;
    width: 50%;
    float: left;
}
.priceGrey {
    color: #666666;
    padding-top: 15px;
    font-size: 14px;
}
.regionImgR, .regionImg {
    width: 180px;
    height: 180px;
}
.dvCMSContainerWBorder {
    height: auto;
    width: auto;
    max-width: auto !important;
    border: none !important;
    padding: 0px !important;
    font-size: 15px;
    text-align: justify !important;
    margin: 5px auto 0 auto;
}
.dvEachHide, .dvEachHideInt, .dvEachHideAt {display: none;padding:0px;list-style:none;}
div.moreButton, .moreButtonInt, .moreButtonAt {
    background: #fffecd linear-gradient(to bottom,#fffecd 18%,#fffecd 4%,#ffd968 50%,#ffd968 100%) repeat scroll 0 0;
    border: 1px solid #d9a300;
    border-radius: 11px;
    color: #000;
    cursor: pointer;
    font-size: 14px !important;
    margin: 0 auto;
    margin-top: 0px;
    max-width: 240px;
    padding: 10px 15px 10px 20px;
    width: auto;
    margin-top: 52px;
    text-align: center;
}
div.moreButton span, .moreButtonInt span, .moreButtonAt span {
        float: right;
        font-size: 28px;
        position: relative;
        top: -6px;
        transform: rotate(90deg);
    }
.nameRegion {
    word-wrap: break-word;
    height: 50px;
    font-size: 24px;
    line-height: 20px;padding-top:10px;
    width: 180px;
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
}
.nameRegion a{text-decoration:none;color:#1B2560;font-size:16px}
.titleRegion {
    color: #1B2560;
    text-transform: uppercase;
    font-weight: 700;
    padding:20px 15px;font-size:18px;
}
.dvEachHideExpl{display:none;padding:unset}
div.moreButtonExpl {
    background: #fffecd linear-gradient(to bottom,#fffecd 18%,#fffecd 4%,#ffd968 50%,#ffd968 100%) repeat scroll 0 0;
    border: 1px solid #d9a300;
    border-radius: 11px;
    color: #000;
    cursor: pointer;
    font-size: 14px !important;
    margin: 0 auto;
    margin-top: 0px;
    max-width: 240px;
    padding: 10px 15px 10px 20px;
    width: auto;margin-bottom:30px;text-align:center;
}
div.moreButtonExpl span {
    float: right;
    font-size: 28px;
    position: relative;
    top: -6px;
    transform: rotate(90deg);
}
.titlesuggestion {
    padding: 40px 10px 15px 15px;
    color: #f60;
    font-size: 24px;
    font-weight: 100;
}
.arrow {
    font-size: 26px;
    float: right;
    position: relative;
    top: -12px;margin-right:15px;
    transform: rotate(90deg);
}

.DotedLine {
    border-bottom: 1px #112b77 dotted;
    border-bottom-style: dotted;
    border-style: none none dotted;
    color: #fff;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}
.titleSpanMore a{text-decoration:none!important;color:#1B2560;font-size:22px;}
.browseButton {
    background: #ffecb2 linear-gradient(to bottom,#ffecb2 18%,#ffecb2 4%,#ffc515 50%,#ffc515 100%) no-repeat scroll 0 0;
    border: 1px solid #ffc001;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 14px !important;
    margin: 0 auto;
    max-width: 95%;
    padding: 10px 50px 10px 50px;
    width: auto;
    text-align: center;
    text-decoration: none;
}
.browseButton::after {
    content: " ›";
    font-size: 28px;
    position: relative;
    color: black;
    padding-right: 7px;top:3px;
}
.buildButton {
    background: #2c3c9c linear-gradient(to bottom,#2c3c9c 18%,#2c3c9c 4%,#1b2560 50%,#1b2560 100%) repeat scroll 0 0;
    border: 1px solid #1b2560;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px !important;
    margin: 0 auto;
    max-width: 95%;
    width: auto;
    text-align: center;
    padding: 10px 95px;
    text-decoration: none;
}
.buildButton::after {
    content: " ›";
    font-size: 28px;
    position: relative;
    color: #fff;
    padding-right: 7px;top:4px;
}
.titleMoreExplore{font-size:18px;color:#1B2560;padding-bottom:8px;padding-left:16px;text-transform:uppercase;font-weight:700}
.dvCMSContainerWBorder p{font-size:15px}
.dvSuggCustomIt {
    padding: 6px 0;
    background: #ffecb2 linear-gradient(to bottom,#ffecb2 18%,#ffecb2 4%,#ffc515 50%,#ffc515 100%) no-repeat scroll 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    border: 1px solid #e7b610;
    border-radius: 5px;
    display: block;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;margin-bottom:10px;text-decoration:none;
}
.dvSuggCustomIt a{color:black;font-size:14px;text-decoration:none;padding-right:10px}
.dvSuggCustomIt a:hover {color: black;}
.BGboxTitle {
    font-size: 24px;
    padding:15px 0 15px 14px;
    color: #1b2560;
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
    display: inline;font-weight:100;
}
#overview h1{font-size:28px;color:#638BD1;padding-bottom:15px;text-transform:uppercase;font-weight:100}
.packageTitleMob {color: #1B2560;height:90px;}
.packageTitleMob a{ color: #1B2560;text-decoration: none !important;font-size: 16px;}
.aCFB{color: #1B2560;text-decoration: none !important}
.dvMoreDetail {
    font-family: Arial;
    font-size: 14px;
    color: #000;
    background: transparent linear-gradient(180deg,#fff 0%,#cfcfcf 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #e4e4e4;width:100%;display:table
}
.moreDetailsSpan{padding-left:10px;display:table-cell;vertical-align:middle;}
.spArrow {
    font-size: 30px;
    position: relative;
    top: 5px;
    transform: rotate(90deg);
    display: table-cell;
    vertical-align: middle;
}
.BGDown {
    height: 0px;
}
    .BGDown div {
        background: #fff url(https://pictures.tripmasters.com/siteassets/d/BG_Down.jpg) no-repeat scroll center top;
        display: inline-block;
        height: 33px;
        position: relative;
        width: 101%;
        z-index: 5;
        margin-top: 4px;
        border-style: solid;
        border-color: #ccc;
        border-width: 0 1px;
    }
.dvFeatPromo p{font-size:14px!important}
.dvCMSThreeImages {display: none !important}
.dvFeatItin{padding-top:11px;padding-bottom:40px;}
.dvFeatItinTitle{font-size:18px;font-weight:700;color:#ff6600;text-transform:uppercase; padding:15px 10px;}
.dvEachFeatItin{height:auto;float:left}
.dvEachFeatItinHide{display:none;}
.dvEachFeatImg{width:90%;margin:0 auto;padding:10px 0}
.dvEachFeatImg img{width:100%;}
.dvEachFeatInfo{margin-left:3%;height:198px}
    .dvEachFeatInfo span:nth-child(1) {
        width: 90%;
        font-size: 14px;
        font-weight: 700;
        color: #FF6600;
        margin-bottom: 10px;
    }
.dvEachFeatInfo span:nth-child(2){float:left;width:90%;font-size:12px;color:#666;}
.dvEachFeatInfo b{color:#ff6600;}
.dvEachFeatInfo span:nth-child(3){float:left;width:90%;font-size:12px;color:#1b2560;}
.dvEachFeatInfo span:nth-child(4){float:right;font-size:30px;line-height:20px;color:#ff6600;transform:rotate(90deg);}
.dvEachFeatDesc {
    padding: 20px 8px;
    clear: both;
    display: none;
    border: 1px solid #ccc;
    margin: 10px;
}
.dvFeatPromo{font-size:12px;margin-bottom:10px;}
.dvFeatInclud{font-size:12px;}
.dvFeatInclud ul{padding:10px 15px 5px;}
.dvFeatViewIt {
    padding: 7px 0;
    padding-bottom: 7px;
    margin-top: 10px;
    background: transparent linear-gradient(180deg, #FFFECD 0%, #FCD561 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    border: 1px solid #e7b610;
    border-radius: 5px;
    display: block;
    width: 85%;
    margin: 0 auto;
    text-decoration: none;
    height: 35px;
}
.dvFeatViewIt a{color: #000;text-decoration: none;font-size: 18px;font-weight: 100;}
.dvFeatViewItTravel {
    padding: 7px 0;
    padding-bottom: 7px;
    margin-top: 10px;
    background: transparent linear-gradient(180deg, #FFFECD 0%, #FCD561 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    border: 1px solid #e7b610;
    border-radius: 5px;
    display: block;
    width: 65%;
    margin: 0 auto;
    text-decoration: none;
    height: 41px;
    margin-bottom: 20px;
}
.dvFeatViewItTravel a{color:#1b1560}
.dvHide{display:none}
.dvMoreFeatBtn{margin:20px auto 20px;border:1px solid #d9a300;color:#000;padding:10px 20px 10px 15px;font-size:14px;text-transform:capitalize;text-align:center;background:#fffecd linear-gradient(to bottom,#fffecd 18%,#fffecd 4%,#ffd968 50%,#ffd968 100%) repeat scroll 0 0;width:60%;}
.dvMoreFeatBtn span{float:right;font-size:28px;position:relative;transform:rotate(90deg);top:-8px;}
.dvBoxTab{padding:5px 0;border-top:1px solid #666;clear:both;}
.dvBoxTab:last-child{border-bottom:1px solid #666;}
.dvBoxTab:before{content:attr(lang);vertical-align:middle;float:right;font-size:30px;color:#ccc;margin-right:10px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
.dvBoxTabRot:before{content:attr(lang);vertical-align:middle;float:right;font-size:30px;color:#ccc;margin-right:16px;-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg);}
.dvBoxTabTitle{padding:10px 15px;color:#1b1560;font-size:12px;width:82%;float:left;font-weight:700;}
.dvBoxTabMap{padding:55px 27px 15px;background: #F5F5F5 0% 0% no-repeat padding-box;height:auto}
.dvBoxTabMapTitle {padding: 29px 19px 13px;font-weight:100; color: #638BD1;font-size: 24px;text-transform: uppercase;}
.dvBoxMapLink {
    background-image: url(https://pictures.tripmasters.com/siteassets/d/map_icon2.png);
    background-repeat: no-repeat;
    float: left;
    width: 100px;
    cursor: pointer;
    margin-left: 15px;
    border: 1px solid #638bd1;
    border-radius: 6px;
    height: 100px;
}
.mapOfInterest {float: right;color: #1B2560;font-size: 20px;padding: 40px 0px;}
.mapHotelsActivities {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 6px;
    display: block;
    width: auto;
    margin: 52px 0 91px;
    height: auto
}
.map{width:90%;margin:30px 14px 30px 25px;background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 10px;height:206px}
.hotelActivities{padding:27px 27px 55px;background: #F5F5F5 0% 0% no-repeat padding-box;height:auto;}
.dvBoxTabTitleHotelActivities {
    padding: 28px 20px 18px;
    color: #638BD1;
    font-size: 23px;
    text-transform: uppercase;font-weight:100;
}
.divaLinkBox {
    margin: 3px 5px 30px 35px;
    display: block;
    width: 23px;
    height: 26px;
    background-image: url(https://pictures.tripmasters.com/siteassets/d/cm_orange.png);
    background-repeat: no-repeat;
}
.aLinkBox {
    color: #1B2560 !important;
    display: block;
    text-decoration: none;
    padding-left: 40px;font-size:20px;
}
#overview span {
    float: right;
    font-size: 35px;
    position: relative;
    top: -70px;
    transform: rotate(90deg);
}
.dvWhatToExpect span {
    float: right;
    font-size: 35px;
    position: relative;
    top: -70px;
    transform: rotate(90deg);
}
.dvTitlecities{
    background-color: #EAF2FF;
    height: 70px;
    position: relative;
    top: -9px;
}
.dvTitlecities span {
    float: right;
    color: #FF6600;
    font-size: 35px;
    position: relative;
    top: -74px;
    transform: rotate(90deg);margin-right:36px
}
.hidedvTitlecities {top:0px;position: relative;}
.dvTitlecities h1:after {
    content: attr(lang);
    vertical-align: middle;
    float: right;
    font-size: 35px;
    color: #FF6600;
    margin-right: 15px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.dvCombine {
    background-color: #EAF2FF;
    height: 70px;
    position: relative;
    top: -20px;
}
.dvCombine h1:after {
    content: attr(lang);
    vertical-align: middle;
    float: right;
    font-size: 35px;
    color: #FF6600;
    margin-right: 15px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.dvNoReviews {
    padding: 0 18px 5px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-align: left;
    float: left;
    padding-top: 7px
}
.dvEachBoxTabReg {
    clear: both;
    display: inline-block;
    width: 95%;
    padding: 10px 15px;
    border-bottom: 1px dotted #666;
}
.dvEachBoxTabReg img{width:70px;vertical-align:middle;}
.dvEachBoxTabReg span:nth-child(2){padding-left:10px;font-size:14px;color:#1b1560;}
.dvEachBoxTabMore{padding:10px 15px;border-bottom:1px dotted #666;}
.dvEachBoxTabMore p{font-size:16px;font-weight:700;color:#1b1560;}
.dvEachBoxTabMore div:nth-child(3){width:62%;float:right}
.dvEachBoxTabMore img{width:35%;height:120px;float:left}
.dvEachCity{border-bottom:1px dotted #666;padding:10px 15px;}
.dvEachCityHide{display:none;}
.spCity{display:inline-block;font-size:12px;color:#666;width:92%;}
.spCity:after{content:"\A";border-style:solid;border-width:6px 6px 0 6px;border-color:#000 transparent transparent transparent;position:absolute;right:15px;margin-top:3px;}
.spCityUp:after{content:"\A";border-style:solid;border-width:0 6px 6px 6px;border-color:transparent transparent #000 transparent;position:absolute;right:15px;margin-top:3px;}
.dvCityInfo{padding:15px 0;display:none;}
.dvEachCityMore{padding:10px 15px;color:#1b1560;}
.dvViewDest{text-align:right;padding:10px 0 20px;color:#1b1560;font-size:14px;font-weight:700;}
.spCombCou {
    display: inline-block;
    font-size: 12px;
    color: #1b1560;
    width: 95%;
    padding: 11px 15px;
    border-bottom: 1px dotted #666;
    height: 20px;
    margin-top: 15px;
}
.titleWhatTo{font-size:28px;color:#638BD1;padding-bottom:15px;text-transform:uppercase;font-weight:100}
.hidedvTitlecities{display:none;padding:0px;list-style:none;}
.hidedvCombine{display:none;list-style:none;padding:0px}
.dvSlideContainer{display:none;overflow:scroll}
.dvMbBack{padding:10px 15px;background-color:#ccc;width:92%;overflow:scroll;-webkit-overflow-scrolling:touch;z-index:1}
#dvContent{width:92%;margin:5px auto;}
.dvMBYOImg{background-color:#fff;padding:15px;border-right:1px solid #ccc;border-left:1px solid #ccc;border-top:1px solid #666;}
.aCustItin{font-size:14px;color:#12174D;font-weight:700}
.spArrows:before{content:attr(lang);color:#FAA819;font-size:22px;}
.dvMbSuggItin{background-color:#ccc;}
.suggItin{height:90px;padding-bottom:30px;width:100%;}
.dvSuggItin{background:#fff;margin:0 auto;padding:10px;height:auto;width:80%}
.dvSuggItin a{text-decoration:none !important;}
.dvSuggItin img{margin-right:10px;width:70px;height:70px;}
.dvSuggItin span{text-align:left;display:block;padding:0 5px;}
div.spMnext{right: -9px !important;left:auto;font-size:50px;top:30px;opacity:1 !important;}
div.spMprev{left:-8px !important;font-size:50px;top:60px;opacity:1 !important;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);}
.dvMbPlacesFeedsTl{color:#1b1560;text-transform:uppercase;font-size:18px;font-weight:700;}
.ulPopularVacation {
    list-style: none;
    padding: 0;width:100%;
}
.grad {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFDFDF;
    width: 95%;
    height: auto;margin:0 auto;margin-bottom:20px;
}
.dvComment {
    min-height: 45px;
    text-align: justify;
    font-family: Arial;
    font-size: 12px;
    margin: 10px;
    line-height: 19px;
    float: left;
}
.titlepackage {
    font-family: Arial;
    font-size: 16px;
    color: #000080;
    text-align: left;
    float: right;
    width: 63%;
    margin-top: 5px;
}
.titlepackage p{
    text-align: left;
    font-size: 17px;
    color: #1B2560;
}
.aPackage{color:#1B2560;font-size:16px;}
.imgPopPack {
    height: 100px;
    width: 100px;
    margin-right: 5px;
    border-style: none;
    margin-top: 15px;
    margin-left: 11px;
}
.noNtsPackPop {
    text-align: left;
    margin-top: 1px;
    color: #666666;
    font-size: 14px;
}
.noNtsPackPop span{font-size: 14px;color: #FF6600;font-weight:700}
.dvReadMore {
    padding: 15px 5px 18px 0px;
    margin-left: 10px;
    text-align: left;
    clear: both;
}
.dvReadMore a {color:#0033FF;font-size:12px; font-family:Arial;}
.TravelOn {
    padding: 0px 5px 20px 10px;
    text-align: left;
    clear: both;
    color: #666666;font-size:12px;
}
.dvPackages {
    background-color: #eaf2ff;
    height: 70px;
    position: relative;
    top: -9px;
    height: auto;
    width: 100%;
    border-top: 1px solid #3366FF;
}
.dvPackages h1{font-size:18px;color:#1B2560;padding:23px 16px;text-transform:capitalize;font-weight:100;margin:0}

.h1span {
    float: right;
    font-size: 30px;
    position: relative;
    top: 4px;
    transform: rotate(90deg);
    color: #f60;
    width: 11px;
    height: 8px;
}
.Countries, .Cities {
    background-color: #eaf2ff;
    height: 70px;
    position: relative;
    top: -9px;
    height: auto;
    width: 100%;
    border-top:3px solid white;
}
.Countries h1, .Cities h1 {
    font-size: 18px;
    color: #1B2560;
    padding: 23px 16px;
    text-transform: capitalize;
    font-weight: 100;margin:0
}
.hidedvCountry, .hidedvCities{padding:0px;list-style:none;width:100%;display:none;}
.hidedvPackages{padding:0px;list-style:none;display:none;width:100%}
.lisuggestedPackages{padding:10px;height:auto;margin:0 auto;width:95%;list-style:none}
.lisuggestedPackages:nth-child(odd){background-color:#ECF1FF}
.lisuggestedPackages:nth-child(even){background-color:white}
.titlesuggetedPackages{width:49%; padding:6px 0px 0px 10px; float: left;font-size:14px;color:#1B2560}
.pac{float: right;font-size:15px;font-weight:100;color:#333333;padding-top:8px}
.sectionPopularPack{padding-top:10px;border-top: 1px solid #3366FF;}
.titlePopularPack{padding:15px 5px 15px 10px;text-align:left;font-size:18px;color: #1B2560;font-weight: 700;text-transform:uppercase}
.region{width: 100%;margin: 0 auto;}
.ulreg{padding:0px;list-style:none;margin:0 auto;}
.divEachReg{margin: 0 auto;text-align: center;}
td p img{display:none}
td div img{display:none;}
td p span{font-size:15px!important}
.descriptionBest span{font-size:15px;}
.dvMBYOImg {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 26px;
}
tr td span {
    font-size: 15px !important
}
.reghighlights {
    padding-bottom: 70px;
    border-top: 1px solid #3366FF;
}
.moreDescription {
    margin-bottom: 10px;
    float: left;
    color: #666666;
    font-size: 13px;
    line-height: 23px;
    text-align: justify
}
.pMoreDescription {
    font-size: 14px;
    color: #666666
}
.sectionMore {
    margin-top: 30px;
    height: auto;
    padding: 30px 0px;
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid #3366FF;
}
.ulMore {
    padding: 0px;
    list-style: none;
}
.moreExplore {
    width: 300px;
    margin: 0 auto;
    list-style: none
}
.sectionHighlights {
    padding-bottom: 50px;
    border-top: 1px solid #3366FF;
}
.dvEachHideInt{padding-top:20px}
.dvMostPopItin{padding-top:10px;}
.ImgPopPackage {
    float: left;
    padding-right: 10px
}
.Orange-Arial12NB {
    font-size: 14px;
    color: #FF6600;
    font-weight: 100;
}
.P_Ora_Arial_12 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #f60;
}
@media screen and (max-width:370px) {
    .packageBest{width:97%;}
    .dvEachFeatImg img {width:100%;}
    .dvEachFeatDesc {margin: 5px;}
    .dvBoxTabTitleHotelActivities{font-size:21px;}
    .dvBoxMapLink { width: 77px;height:77px;}
    .mapOfInterest{padding: 30px 0px;font-size:19px;width:200px}  
    .nameRegion{width:150px;}
    .nameRegion a{word-wrap:break-word}
    .browseButton{padding: 10px 40px 10px 40px;}
    .buildButton{padding: 10px 85px;}
    .titlepackage{width:58%}    
    .regionImgR {width: 150px;height: 150px;}
    .BGDown div {height: 28px;width: 99%;}
    }
@media screen and (orientation:landscape) {
    .packageBest{width:53%}
}




