body{font-family:Arial, Helvetica, sans-serif;margin:0;}
/*** Header ***/
.dvhBlueBG {width: 100%; background: #11164E linear-gradient(to top,#11164E 15%,#354894 100%) repeat scroll 0 0}
.dvhContainer{width:100%;max-width:980px;min-width:980px;margin:0 auto;height:auto}
.dvhGreyBG{height:32px;top:100px;width:100%;background-color:#f2f2f2}
.dvhLeft {float: left;width:25.7%}
.dvhBBB {padding-left:2px; color:white;border-bottom-style: dotted;border-bottom-color:#F0BB3D;border-bottom-width:2px;width:164px;margin:0 0 0 50px;}
.dvhBBB :hover{border-bottom-color:#FFDA6A;border-bottom-width:2px;}
.dvhBBB a {cursor: pointer;font-size: 12px;background: rgba(0,0,0,0) ;color: #fff;cursor: pointer;margin-bottom: 5px;padding-bottom: 5px;text-decoration: none;}
.dvhBBB a:hover{text-decoration-line:underline}
.dvhCenter {width: 20%;float: left}
.dvhCenter a { cursor: pointer}
.dvhCenter img { margin: 5px}
.dvhChat{float:right;width:15%;height:45px}
.dvhCallus{float:right;width:45%;text-align:right}
.dvhPhone{color:#f9a719;font-size:24px}
.dvhAvailable{color:#FFF;font-size:11px}
.dvhSitesNav{font-size:14px!important;height:auto;margin:3px 0;padding:0;vertical-align:middle;width:auto;float:right}
.dvhSitesNav a{color:#FFF;padding:3px;width:auto;line-height:16px;margin:0;float:left;text-decoration:none!important}
.dvhSitesNav a:hover{text-decoration:underline!important}
.dvhSitesNav span{border:2px;height:20px;border-right-style:dotted;border-color:#F6C979;float:left;margin:0 3px}
.ahSelected{color:#FFF!important;background-color:#0065B8!important}
.dvhMenu{width:100%;max-width:980px;min-width:980px;margin:0 auto}
.sweepsBG{background:#fba919;border-radius:3px;display:inline-block;font-size:12px;font-weight:700;margin:1px 2px 1px 5px;padding:1px 3px 0;text-align:center;vertical-align:middle;width:15px}
.dvhSearch{float:left;margin:1px 0 1px 15px;text-align:right;width:65%;height:15px;}
.dvhSearch p{font-size:11px;color:#999;padding:5px 20px;cursor:pointer;width:40px;float:right}
.dvhSearch p:hover{color:red;text-decoration:underline;font-weight:700}
.dvhSearch input[type=text]{width:270px}
.dvhLikeFace{float:right;widows:35%;padding:4px 1px 1px}
.headerSubmitButton {height:21px;border: 1px solid #ccc;border-radius: 5px;cursor: pointer;font-size: 12px;padding: 2px 10px;position: relative;top: -1px;}
.dvhHeadDestLink{color:#FFF;float:right;padding:10px 20px 15px;background:#11164E linear-gradient(to bottom,#11164E 15%,#354894 100%) repeat scroll 0 0;font-family:Arial,Helvetica,sans-serif;font-size:14px;-moz-border-radius:0 0 7px 7px;-webkit-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px}
.dvhHeadDestLink:hover{color:#FFF;text-decoration:underline;cursor:pointer}
.dvhHeadDestLink span{border-left:6px solid transparent;border-right:6px solid transparent;border-top:8px solid #fff;display:inline-block;margin-left:3px}
/*** Footer ***/
div.dvFootSubscribe{background-image:-moz-linear-gradient(rgb(235,237,250) 0%,rgb(255,255,255) 100%);background-image:-webkit-gradient(linear,color-stop(0, rgb(235,237,250)),color-stop(1, rgb(255,255,255)));background-image:-webkit-linear-gradient(rgb(235,237,250) 0%,rgb(255,255,255) 100%);background-image:-o-linear-gradient(rgb(235,237,250) 0%,rgb(255,255,255) 100%);background-image:-ms-linear-gradient(rgb(235,237,250) 0%,rgb(255,255,255) 100%);background-image:linear-gradient(rgb(235,237,250) 0%,rgb(255,255,255) 100%);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffebedfa,endColorstr=#ffffffff)";filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffebedfa,endColorstr=#ffffffff);height:auto;padding:25px 0;}
div.dvFootSubscribe p{margin:5px auto;font-family:Arial, Helvetica, sans-serif; text-align:center;}
hr.hrFootDots{border: none;border-top-width: medium;border-top-style: none;border-top-color: currentcolor;border-top: 2px dotted #ccc;color: #fff;height: 1px;width: 100%;	background: none;clear: both;max-width: 980px;min-width: 980px;margin: 0 auto;padding-bottom:15px;}
div.dvFootSubsBoxContent{text-align:center; width:533px; margin:0 auto; padding:15px 0}
div.dvFootSubsBoxContent button{background-color: #FFDA6A;width:156px;height:42px;border-color: #FFDA6A;border-width:1px;/* Firefox v1.0+ */-moz-border-radius:1px;/* Safari v3.0+ and by Chrome v0.2+ */-webkit-border-radius:1px;/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */border-radius:1px;border-style:solid;font-family:Arial, Helvetica, sans-serif;font-size:16px;color: #333333;text-align:center;float:left;margin-left:5px;}
div.dvFootSubsBoxContent input[type="text"]{background-color:#FFFFFF;width:360px;height:40px;border-color: #CCCCCC;border-width:1px;/* Firefox v1.0+ */-moz-border-radius:1px;/* Safari v3.0+ and by Chrome v0.2+ */-webkit-border-radius:1px;/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */border-radius:1px;border-style:solid;font-family:Arial, Helvetica, sans-serif;font-size:16px;color: #999999;text-align:left;float:left;padding:0 0 0 10px;}
p.pFootSubsTitle{font-size:36px;color: #131850;}
p.pFootSubsSubTitle{font-size: 28px;color: #666666;}
.dvFindButtons {padding-bottom: 8px;text-align: center;}
.dvFindButtons input[type="button"] {color: #FFF;padding: 3px 10px 5px;width: auto;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;border: 1px solid #536DAD;background-image: -moz-linear-gradient(top,#536DAD 35%,#000085 100%) !important;background-image: -o-linear-gradient(top,#536DAD 35%,#000085 100%) !important;background-image: -webkit-gradient(linear,left top,left,botton,color-stop(.35,#536DAD),color-stop(1,#000085)) !important;background-image: -webkit-linear-gradient(top,#536DAD 35%,#000085 100%) !important;background-image: linear-gradient(to bottom,#536DAD 5%,#000085 100%) !important;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#536DAD',endColorstr='#000085',GradientType=0);}
.dvfContainer{width:100%;max-width:980px;min-width:980px;margin:0 auto;height:auto}
.dvFSamplePrices{line-height:14px;font-size:10px;color:#666;text-align:justify;text-justify:kashida;letter-spacing:.02em;display:block;margin-top:20px;margin-bottom:20px}
.footertop{width:95%;height:180px;margin:0 auto}
.footertitle {
    width: 95%;
    height: 43px;
    background: url(https://pictures.tripmasters.com/siteassets/d/footer_top_bg.jpg) repeat-x;
    margin: 0 auto
}
.footersubmenu a{text-decoration:none;color:#053179;font:14px/28px arial,sans-serif}
.footersubmenu a:hover{text-decoration:underline}
.footercenter{width:26%;float:left;margin-top:5px;margin-left:50px;text-align:left}
.footerleft{width:26%;float:left;margin-top:5px;margin-left:50px;text-align:left}
.titlebox{font:900 13px arial,sans-serif;color:#053179}
.footerright{width:26%;float:right;margin-top:5px;margin-left:50px;text-align:left}
.stagcenter{line-height:2;margin-top:15px;display:inline-block;vertical-align:top;text-align:center;}
.stagleft{line-height:2;margin-top:15px;display:inline-block;text-align:center;}
.stagright{line-height:2;margin-top:15px;display:inline-block;text-align:center;}
.stagright img{padding-bottom:10px}
.stagaws{line-height:2;margin-top:15px;display:inline-block}
.ora_vertBlue{border-color:#e6e6ff;border-style:none solid none none;border-width:2px;height:60px;display:inline-block;margin:0 18px}
.social_media{text-align:center;margin-top:40px;}
.social_media a img{border:0}
.ora_vertBlue{border-color:#e6e6ff;border-style:none solid none none;border-width:2px;height:60px;display:inline-block;margin:0 18px}
.copyright{margin-top:11px;background: #11164E linear-gradient(to top,#11164E 15%,#354894 100%) repeat scroll 0 0;height:50px;width:100%;padding:10px 0;float:right;}
.dvCopy{line-height:14px;text-align:center;color:#fff;font:11px/14px arial,sans-serif}
.text_blackbold{font:600 18px arial,sans-serif}
.text_link a{font:11px arial,sans-serif;color:#009}
/*****************************************/
/*** Container CSS ***/
.dvStartHighlights{height:auto;margin:0 auto;max-width:980px;min-width:980px;width:100%}
.dvStartHighlights{padding:0 0 20px;}
.dvStartHighlights h2{margin:0 0 15px 0;color:#1a255f;border-bottom:1px solid #36f;padding:20px 0;font-size:18px;text-transform:uppercase;}
.circle{width:20px;height:20px;background-color:#fa7a20;border-radius:50px;float:right;}
.circle::after{content:'\25BA';color:white;padding-left:5px}
.moreHighlightBtn{background:#fffecd linear-gradient(to bottom, #fffecd 18%, #fffecd 4%, #ffd968 50%, #ffd968 100%) repeat scroll 0 0;border:1px solid #d9a300;color:#000;cursor:pointer;font-size:14px !important;margin:0 auto;max-width:240px;padding:10px 15px 10px 20px;width:auto; text-align:center;clear:both;}
.moreHighlightBtn:hover{background:#fffecd linear-gradient(to top,#fffecd 18%,#fffecd 4%,#ffd968 50%,#ffd968 100%) repeat scroll 0 0}
.moreHighlightBtn span{float:right;font-size:28px;position:relative;top:-6px;transform:rotate(90deg)}
/*****************************************/
/*** Calendar CSS ***/
.dvByoContainer {
    background: url(https://pictures.tripmasters.com/siteassets/d/tm_home-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
    min-height: 400px;
    max-width: 1600px;
    min-width: 980px;
    background-position: right;
}
.dvImgContainer{margin:0 auto;padding:20px 0;max-width:980px;height:auto}
.dvByoCalendar{background-color:rgba(0,0,0,.7);float:left;width:620px;padding:30px 50px;border-radius:10px;}
.dvByoTitle{color:#fff;text-align:center;border-bottom:1px solid #fff;}
.dvByoTitle h1{margin:0;font-size:38px;font-weight:500;}
.dvByoTitle h4{margin:0 0 10px 0;}
.dvByoTools{position:relative;margin-bottom:30px;}
.dvByoTools span{background:rgba(102,102,102,0.6);color:#fff;padding:10px 15px;cursor:pointer;font-size:14px}
.dvByoTools span.spselect{background:#0065b8}
.dvByoTools span:nth-child(3){background:none}
.dvIntlFly{position:relative;margin:25px 0}
.dvAirParam{position:relative;margin-bottom:25px}
.dvAirParam div{float:left}
.dvAirParam div:nth-child(1){width:35%;margin-right:30px}
.dvAirParam div:nth-child(2){width:20%}
.dvAirParam label{float:left;width:100%;margin-bottom:5px;color:#fff;font-size:14px}
.dvAirParam input[type="text"]{width:100%;padding:5px 8px}
.dvAirParam select{width:130%;padding:5px 8px}
.dvAirParam select option{font-size:14px}
.dvByoCity{position:relative}
.dvByoCity div{float:left}
.dvByoCity div:nth-child(1){width:35%;margin-right:30px}
.dvByoCity div:nth-child(2){width:17%;margin-right:30px}
.dvByoCity div:nth-child(3){width:17%}
.dvByoCity label{float:left;width:100%;margin-bottom:5px;color:#fff;font-size:14px}
.dvByoCity input[type="text"]{width:100%;padding:5px 8px}
.dvByoCity select{width:100%;padding:5px 8px}
.dvByoCity select option{font-size:14px}
.dvByoBtn{margin-left:85px;margin-bottom:20px}
.dvByoBtn span:nth-child(1){padding:10px 25px!important}
.dvByoBtn span:nth-child(odd){background:#fffecd linear-gradient(to bottom,#fffecd 18%,#fffecd 4%,#ffd968 50%,#ffd968 100%) repeat scroll 0 0;border-radius:2px;padding:10px 15px;cursor:pointer;font-size:14px}
.dvByoBtn span:nth-child(odd):hover{background:#fffecd linear-gradient(to top,#fffecd 18%,#fffecd 4%,#ffd968 50%,#ffd968 100%) repeat scroll 0 0}
.dvByoBtn span:nth-child(even){margin:0 25px;text-transform:uppercase;font-weight:700;color:#fff;font-size:14px}
div.dvMask{width:100%;height:100%;background:rgba(204,204,204,0.5);position:absolute;top:0;left:0;z-index:900;display:none}
div.dvTransportation{margin:0 auto;z-index:910;top:50px;display:none;left:50%;margin-left:-472px}
div.dvtranspLoad{background:#fff none repeat scroll 0 0;border:1px solid #648ad1;border-radius:6px;box-shadow:0 0 10px #648ad1 inset;height:auto;margin:0 auto;max-width:900px;min-width:900px;padding:15px 25px;text-align:left}
.spRemoveCity{padding:0!important;position:relative;top:10px;background:none!important;text-decoration:underline;cursor:pointer;font-size:12px}
.spRemoveCity:hover{color:red}
.dvtranspMainContainer{max-width:900px;min-width:900px;margin:0 auto;height:auto;padding:15px 25px;border:1px solid #648AD1;text-align:left;border-radius:6px;-webkit-box-shadow:inset 0 0 10px #648AD1;-moz-box-shadow:inset 0 0 10px #648AD1;box-shadow:inset 0 0 10px #648AD1;background:#FFF}
.dvtranspTitle{border-bottom:1px solid #36F;padding:5px}
.dvtranspTitle span:nth-child(1){float:left;text-transform:uppercase;font-size:18px}
.dvtranspTitle span:nth-child(2){float:right;font-size:11px;cursor:pointer}
.dvtranspByoCalTools{position:relative;margin-bottom:30px}
.dvtranspIntlFly span{background:#999;color:#fff;padding:10px 15px;cursor:pointer}
.dvtranspIntlFly span.spselect{background:#0065b8}
.dvtranspByoCalTools span:nth-child(3){background:none;color:#000}
.dvtranspIntlFly{position:relative;margin:25px 0}
.dvtranspAirParam{position:relative;margin-bottom:25px}
.dvtranspAirParam div{float:left}
.dvtranspAirParam div:nth-child(1){width:36%;margin-right:30px}
.dvtranspAirParam div:nth-child(2){width:20%}
.dvtranspAirParam label{float:left;width:100%;margin-bottom:5px;color:#000;font-size:14px}
.dvtranspAirParam input[type="text"]{width:100%;padding:5px 0;border:none;font-weight:700;font-size:14px;color:#333;font-family:Arial,Helvetica,sans-serif}
.dvtranspAirParam select{width:160px;padding:5px 8px;border:1px solid #ccc}
.dvtranspAirParam select option{font-size:14px}
.dvtranspLabels{font-size:14px;margin:-5px 0 5px;padding:10px 0 0 5px}
.dvtranspCityList{border-radius:6px;margin-bottom:2px;height:auto;line-height:40px;padding:0 0 0 5px;font-size:14px}
.dvtranspCityList:nth-child(odd){background-color:#F9FBFD}
.dvtranspCityList:nth-child(even){background-color:#E3E9F5}
.dvtranspCityList div span{background:none!important;color:#333}
.dvtranspCityList div span b{font-size:14px}
.dvtranspCityList div select{width:100px;padding:5px 8px;boder:1px solid #ccc}
.sptranspRemoveCity{font-size:12px;cursor:pointer;color:blue}
.sptranspRemoveCity:hover{color:red;text-decoration:underline}
.dvtranspLabels div:nth-child(1),.dvtranspCityList div:nth-child(1){width:28%;float:left}
.dvtranspLabels div:nth-child(2),.dvtranspCityList div:nth-child(2){width:14%;float:left}
.dvtranspLabels div:nth-child(3),.dvtranspCityList div:nth-child(3){width:14%;float:left;height:10px}
.dvtranspLabels div:nth-child(4),.dvtranspCityList div:nth-child(4){width:43%;float:left}
.dvtranspCityList div:nth-child(2) span{padding:10px 2px}
.dvtranspCityList div:nth-child(3) span{padding:10px 5px}
.ptranspCheck{margin:3px 0 0;padding:0 0 0 5px;display:none}
.ptranspSelAct{display:block;line-height:35px;margin:3px 0 0;width:395px;padding:0 0 0 5px;float:left}
.ptranspSelNoAct{display:none;line-height:35px;margin:3px 0 0;width:395px;padding:0 0 0 5px;float:left}
.ptranspSelAct span,.ptranspSelNoAct span{float:left;padding:0;margin:0}
.ptranspSelAct span:nth-child(1){width:300px}
.buttontranspChange{background:#ccc linear-gradient(to bottom,#fff 35%,#ccc 95%) repeat scroll 0 0;border:1px solid #ccc;border-radius:3px;color:#00F;cursor:pointer;padding:2px 5px;width:60px;font-size:12px;margin:0 10px;text-align:center}
.buttontranspChange:hover{background:#ccc linear-gradient(to top,#fff 35%,#ccc 95%) repeat scroll 0 0}
span.dvCarOpt{margin:1px 0 3px;float:left;padding:0!important;display:none}
span.dvCarOpt span{margin-top:1px;float:left;padding:9px 0!important}
.dvCarOpt input[type="text"] {
    background-color: #fff;
    background-image: url(https://pictures.tripmasters.com/siteassets/d/select_Down.gif);
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #666;
    border-radius: 6px;
    color: #333;
    font-size: 12px;
    height: 17px;
    outline: 0 none;
    padding: 0 0 0 5px;
    width: 25%
}
.dvCarUpOff{text-align:left;padding:3px 0;font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#000;line-height:8px;margin:0;display:block}
.dvCarUpOff span{display:block;padding-top:4px;width:45px;margin-right:2px;float:left}
.dvCarUpOff select{margin-right:2px;float:left;width:auto!important}
.dvCarUpOff select option{font-size:12px}
div.dvtranspRooms{font-size:14px}
div.dvtranspRooms p{margin:20px 0 10px;width:265px;display:inline-block}
div.dvtranspRooms p select{padding:3px 8px;width:264px;font-size:12px;margin:5px 0 0}
div.dvtranspRooms p select option{font-size:12px;padding:3px 0}
div.dvtranspRooms p select option.hrDots{border:none;border-top:1px dotted #666;color:#fff;height:1px;width:90%;background:none;margin:7px auto}
hr.hrDots{border:none;border-top:1px dotted #666;color:#fff;height:1px;width:90%;background:none;margin:7px auto}
div.dvtranspAdultChild{padding:5px 0;font-size:11px;display:none}
div.dvtranspAdultChild p{margin:0 0 5px;font-size:11px;display:none}
div.dvtranspAdultChild p span{background:#FFF;float:left;color:#000;padding:0 5px;line-height:40px}
div.dvtranspAdultChild p span:nth-child(1),div.dvtranspAdultChild p span:nth-child(2),div.dvtranspAdultChild p span:nth-child(3){width:55px}
div.dvtranspAdultChild p select{padding:3px 8px;font-size:11px;margin:5px 0 0}
div.dvtranspAdultChild p select option{font-size:12px;padding:3px 0}
div.dvtranspAdultChild p span:nth-child(4),div.dvtranspAdultChild p span:nth-child(4) select,div.dvtranspAdultChild p span:nth-child(4) label{display:none}
div.dvtranspAdultChild p span:nth-child(4) label{margin:0 3px 0 5px}
div.dvContinueButton{padding:0 20px 0 0;text-align:right}
div.dvContinueButton span.btnContinue{background:#2c3c9c linear-gradient(to bottom,#2c3c9c 18%,#2c3c9c 4%,#1b2560 50%,#1b2560 100%) repeat scroll 0 0;border:1px solid #1b2560;border-radius:5px;color:#fff;padding:10px 75px;width:auto;font-size:14px;cursor:pointer}
div.dvContinueButton span.btnContinue:hover{background:#2c3c9c linear-gradient(to top,#2c3c9c 18%,#2c3c9c 4%,#1b2560 50%,#1b2560 100%) repeat scroll 0 0}
/***************************************/
/*** Customer Review ***/
.dvCustomerReview{background:rgba(255,255,255,.7);width:230px;float:right;height:320px;}
.dvReviews{margin:15px 10px 0;background-color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;}
.dvReviews div:nth-child(1){text-align:center;color:#19255F;padding:30px 0 10px;font-size:18px;font-weight:700}
.dvReviews div:nth-child(2){text-align:center;font-size:16px;font-weight:700;margin-top:10px}
.dvStars{position:relative;display:inline-block;margin:10px 0 5px 20px;height:31px}
.emptyStars {
    background: transparent url(https://pictures.tripmasters.com/siteassets/d/starsempty.png) no-repeat scroll 0 0;
    height: 31px;
    float: left;
    position: absolute;
    top: 0
}
.fullStars {
    background: transparent url(https://pictures.tripmasters.com/siteassets/d/starsfull.png) no-repeat scroll 0 0;
    height: 31px;
    float: left;
    position: absolute;
    top: 0
}
.darkText{text-align:center;color:#666;padding-bottom:20px;font-size:12px}

/*Popular itineraries*/
.dvMostPopItinImg{float:left;width:70px;margin-right:10px;height:70px}
.dvMostPopItinImg img{width:70px;height:70px}
.dvMostPopItinTitle {width: 202px;float:left}
.dvMostPopItinTitle h4{margin:0;font-size:12px;color:#1a255f;font-weight:700;margin-bottom:5px}
.dvMostPopItinTitle div:nth-child(1){font-size:12px;color:#1a255f;font-weight:700;margin-bottom:5px}
.dvMostPopItinTitle div:nth-child(2){font-size:12px;color:#666}
.dvMostPopItinTitle span{color:#f60}
/*In the Spotlight*/
.dvSpotlights {border-top: 1px solid #36f;margin: 0 auto;max-width: 980px;min-width: 980px;width: 100%;height: auto;clear:both;}
.dvSpotlights h2{margin: 0;padding: 20px 0;text-transform: uppercase;color: #1a255f;font-size: 18px;}
.dvEachSpotlight{padding: 5px 0 5px 8px;line-height: 18px;}
.dvEachSpotlight:nth-child(even) {background-color: #ecf1ff;}
.dvEachSpotlight a{border: 0;cursor: pointer;text-decoration: none;color: navy;margin: 0;font-size: 12px;font-weight: 500;}

/*Recently view*/
.dvRecentlyViewed {border-top: 1px solid #36f;margin-top: 40px;margin: 0 auto;max-width: 980px;min-width: 980px;width: 100%;height: auto;clear: both;}
.dvRecentlyViewed h2{font-size: 18px;font-weight: 700;padding: 20px 0 10px;text-transform: uppercase;color: #1b256f;display: table;}
